mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col.d-none.d-sm-block
					ul
						li: a(href="#")  Разработка ППР
						li: a(href="#")  Разработка ППРк
						li: a(href="#")  Разработка ПОС
						li: a(href="#")  Разработка ПОД
						li: a(href="#")  Составление ППР
						li: a(href="#")  Вопрос/Ответ
						li: a(href="#")  Пригласить на тендер
						li: a(href="#")  Нормативная документация
						li: a(href="#")  О нас
						li: a(href="#")  Наши работы
						li: a(href="#")  Новости
						li: a(href="#")  Блог
						li: a(href="#")  Почему мы?
						li: a(href="#")  Отзывы о нас
						li: a(href="#")  Вакансии
						li: a(href="#")  Контактная информация


				.col-lg-4
					+e.right-block
						+soc()
						p &copy;&nbsp;&laquo;С-ПРОДЖЕКТ&raquo; 2006-2019
							br
							| Авторские права на&nbsp;дизайн и&nbsp;всю информацию сайта, а&nbsp;также на&nbsp;подбор и&nbsp;расположение материалов принадлежат С-Проджект

