.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-accordion-arrow {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
.icon-arrow-right {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-arrow2-right {
	font-size:(13/10)*1rem;
	width:(18/13)*1em;
}
.icon-calc {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-dobitsya_vysokoy {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-facebook {
	font-size:(20/10)*1rem;
	width:(12/20)*1em;
}
.icon-fb {
	font-size:(15/10)*1rem;
	width:(8/15)*1em;
}
.icon-instagram {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-load {
	font-size:(18/10)*1rem;
	width:(20/18)*1em;
}
.icon-logo {
	font-size:(55/10)*1rem;
	width:(35/55)*1em;
}
.icon-povysit_eff {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-slider-arrow-left {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-slider-arrow-right {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-sokratit_sroki {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-svesti_k_minimumu {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-tel {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-telegram {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-youtube {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
