mixin s-about()
	// start s-about
	+b.SECTION.s-about.section#s-about&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Разработка ППР, ППРк, ПОС или ПОДД от&nbsp;2-х дней со&nbsp;100% гарантией согласования!
				
			.row
				+e.col.col-lg-6
					p Проектное бюро С-Проджект более 10-ти лет оказывает свои услуги по разработке и согласованию Проектов производства работ (ППР), Проектов организации строительства (ПОС), Проектов организации дорожного движения (ПОДД), дорог, инженерных сетей #[strong для Москвы, Санкт-Петербурга и других регионов России].

					p Огромный опыт работы и успешное участие компании в проектировании уникальных объектов гарантирует нашим заказчикам качественно разработанную документацию в кратчайшие сроки. Несмотря на это, стоимость разработки ППР у нас выгодно отличается от стоимости подобных работ в других компаниях. Также, Вас приятно удивят сроки разработки проектов ППР, ПОС и ПОДД: от 2-х дней! #[a(href="#") Заказать ППР,]#[a(href="#")  ПОС,]#[a(href="#")  ПОДД, ]#[a(href="#") ППРк, ]#[a(href="#") Обследование] или #[a(href="#") Проекты дорог] и быстро! Доставим проект в любое удобное для Вас место совершенно бесплатно!
				+e.col.col-lg-6
					.video-wrap
						<iframe width="560" height="315" src="https://www.youtube.com/embed/GmJlSQzpeno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				+e.col.col-lg-6.order-lg-last
					p В настоящее время большинство строительных организаций недооценивают всю необходимость разработки качественного ППР (Проект производства работ), хотя прекрасно понимают что осуществление строительно-монтажных работ без утверждённых ПОС (проект организации строительства) и ППР (проект производства работ) категорически запрещается и может значительно увеличить себестоимость строительства.

					p Помимо этого, 01.08.2015г. вступило в силу Постановление Правительства от 19.05.2015г. №284-ПП, в котором говорится о необходимости получения Заключения о соответствии проекта проведения (производства) земляных работ Сводному плану подземных коммуникаций и сооружений в городе Москве, а ОАТИ рекомендовано выдавать ордера на производство земляных и строительных работ при наличии положительного заключения ППР (проект производства работ). Обязанности по подготовке и оформлению заключения поручены ГУП г. Москвы «Мосгоргеотрест» (Отдел подземных сооружений ОПС).

					p При необходимости, Административно-технические инспекции могут потребовать согласование ППР (проект производтсва работ) с ГИБДД, Управами, Префектурами. Мы берём на себя все эти обязательства. Срок согласований от 2-х дней.
				+e.col.col-lg-6
					block
	// end s-about