mixin sExamples()
	// start sExamples
	+b.SECTION.sExamples.section#sExamples&attributes(attributes)
		+e.wrapper
			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			.container
				+b.section-title
					h2 Выполним комплекс работ от&nbsp;разработки и&nbsp;согласования проекта ОДД до&nbsp;реализации проектных решений
				p Благодаря огромному опыту работы в&nbsp;области Организации дорожного движения, мы&nbsp;профессионально и&nbsp;оперативно решаем любые поставленные задачи. Разрабатываем схемы организации дорожного движения (схемы ОДД) для объектов различного назначения от&nbsp;небольших магазинов до&nbsp;огромных Торговых центров, эстакад, государственных объектов, примыканий, съездов, переходно-скоростных полос.
				p Возведение данных объектов часто требует задействования тротуаров, улично-дорожной сети для выполнения строительно-монтажных работ. В&nbsp;результате временно изменяется существующая утвержденная комплексная схема организации дорожного движения (КСОДД).
				p Компания &laquo;С-Проджект&raquo; помогает обеспечить безопасность, удобство движения пешеходов, транспорта посредством профессиональной разработки Проекта ОДД (проект организации дорожного движения) на&nbsp;время строительства или эксплуатации. Также, Проект организации дорожного движения актуален и&nbsp;при устройстве инженерных коммуникаций, АЗС, автостоянок, прочих объектов.
				+e.subtitle Далее, нажав на&nbsp;кнопку&nbsp;Вы можете посмотреть пример нужного Вам Проекта и&nbsp;его состав (все проекты согласованы):
				+input('Поиск услуги','text','')
				.row
	// end sExamples