mixin s-menu-right()
	// start s-menu-right
	+b.s-menu-right.section#s-menu-right&attributes(attributes)
		.container
			+mnu2()
			+e.need-project
				h3 Вам необходим Проект производства работ кранами (ППРк)?
				p Звоните по тел. : <a href="tel:8(495)971-3-971">8(495)971-3-971</a> или отправляйте заявку на адрес эл. почты: <a href="mailto:9713971@mail.ru">9713971@mail.ru</a> и мы в течении 15 минут направим Вам подробный расчет стоимости ППРк и сроков разработки.
	// end s-menu-right