mixin news-item(d,t,p)
	+b.news-item
		+e.date= d
		+e.title
			a(href="#")= t
		p= p
mixin s-news()
	// start s-news
	+b.SECTION.s-news.section#s-news&attributes(attributes) 
		+b.section-title(class="wow slideInLeft" data-wow-duration="0.4s" data-wow-delay="0")
			h2 Новости 
			a.link-more(href="#") /   Все новости 
				+icon('arrow-right')  
			
		.row
			.col-sm-6
				+news-item("12.11.2019","Выполнена разработка ППР на строительство временных дорог, прокладку коммуникаций и согласование ППР с ГУП Мосгортранс","Компания С-Проджект выполнила комплекс работ по разработке Проекта производства работ- ППР на строительство временных дорог и восстановление...")
			
			.col-sm-6
				+news-item("01.11.2019","Вступило в силу Постановление Правительства №284-ПП и №299-ПП","С 01 августа 2015г. вступили в силу Постановление Правительства №284-ПП от 19.05.2015 и Постановления Правительства №299-ПП от...")
			
	// end s-news