mixin poddSourceItem(title, ...list)
	+b.poss-s-item
		+e.P.title!= title
		+e.UL.list
			each item in list
				li!= item
mixin sPoddSources()
	// start sPoddSources
	+b.SECTION.sPoddSources.section#sPoddSources&attributes(attributes)
		+e.wrapper
			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			.container
				+b.section-title
					h2 Исходные данные для разработки проекта организации движения (ПОД)
				+input('Поиск услуги','text','')
				.row
					.col-12.col-md-5
						+poddSourceItem('Разработка Проекта организации дорожного движения при капитальном ремонте проезжей части, дорожные работы', 'Cитуационная схема производства работ', 'Проект организации строительства', 'ТУ&nbsp;от&nbsp;владельца дороги')
					.col-12.col-md-7
						+poddSourceItem('Проект организации дорожного движения на&nbsp;период строительства объекта (подготовительный или основной периоды)', 'Ситуационный план', 'Стройгенплан, ПОС', 'Проектная документация', 'Технико-экономические показатели из&nbsp;ТЭО')
					.col-12.col-md-7
						+poddSourceItem('Проектирование ОДД на&nbsp;периодэксплуатации объекта', 'Генплан', 'План благоустройства объекта', 'Расчет обеспеченности объекта парковками', 'Расчет обеспеченности объекта парковками при эксплуатации', 'Схема транспортного обслуживания (для объектов в&nbsp;Москве)', 'Технико-экономические показатели из&nbsp;ТЭО')
					.col-12.col-md-5
						+poddSourceItem('Проект организации движения при прокладке коммуникаций', 'Ситуационный план', 'Геоподоснова (М1:500)', 'Проектная документация', 'При необходимости, согласование с&nbsp;балансодержателем')
	// end sPoddSources