html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.screen {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	opacity: 0.7;
}

body,
html {
	@include media-breakpoint-up(xl) {
		font-size: $em-base;
	}

	font-size: 14px;
	// @include font-size(1rem);
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	@extend .h2;
	position: relative;

	// @include media-breakpoint-up(sm) {

	// 	padding-bottom: rem(50);
	// }

	h2 {
		display: inline-block;
		// position: relative;
		// padding-left: rem(14);
		// padding-right: rem(14);
		font-weight: 600;
		// max-width: rem(930);
		line-height: 1;

		// &::before,
		// &::after {

		// 	content: '';
		// 	top: rem(18);
		// 	width: em(30);
		// 	height: em(2);
		// 	border-radius: rem(3px);
		// 	position: absolute;
		// }

		// &::before {
		// 	right: 100%;
		// 	background-color: $blue;
		// }

		// &::after {
		// 	left: 100%;
		// 	background-color: $primary;
		// }
	}
}

.section-wrap {
	padding-top: rem(80);

	.section {
		padding-bottom: rem(0);
	}

	// padding-bottom: rem(100);

	.section-title {
		padding-bottom: var(--sTPB);
	}

	h2 {
		padding-left: 0;

		&::before,
		&::after {
			display: none;
		}
	}
}

.inner-page {
	.section-wrap {
		padding-top: rem(22);
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.container .container {
	padding-left: 0;
	padding-right: 0;
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10);
}

.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.mfp-with-zoom {
	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;
		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {
		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;
	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;
	}

	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
			background-color: green;
		}
	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}

// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

// .swiper-button-hand {
// 	--swiper-arrow-size: #{rem(60)};
// 	@include a-cent(y);
// 	@include mt;
// 	// @include bgs;
// 	width: var(--swiper-arrow-size) !important;
// 	height: var(--swiper-arrow-size) !important;
// 	z-index: 300;
// 	outline: none !important;
// 	// margin-bottom: 0;
// 	background-image: none;
// 	margin: 0 !important;
// 	border-radius: 50%;
// 	background-image: linear-gradient(180deg, #52A7D8 0%, #4FA5D7 100%);
// 	box-shadow: 0px 3px 0px #4394C3;
// 	color: $white !important;
// 	&:after {
// 		content: none !important;
// 	}
// 	&:hover, &:active {
// 		box-shadow: 0px 0px 0px #4394C3;
// 		// top: calc(50% + 3px);
// 		transform: translateY(calc(-50% + 3px));
// 		opacity: 0.9;
// 	}
// 	&-next {
// 		// background-image: url(../img/arr-right.png);
// 		right: calc(-1 * var(--swiper-arrow-size) / 2 + 10px) !important;
// 	}

// 	&-prev {
// 		left: calc(-1 * var(--swiper-arrow-size) / 2 + 10px) !important;
// 		// background-image: url(../img/arr-left.png);
// 	}
// 	.icon {
// 		font-size: rem(24);
// 		color: inherit;
// 	}
// }

// .swiper-pagination {
// 	width: 100%;
// 	text-align: center;

// 	&-bullet {
// 		@include mt;
// 		width: rem(12) !important;
// 		height: rem(12) !important;
// 		border-radius: 50%;
// 		background-color: rgba(82, 167, 216, 0.2) !important;
// 		outline: none !important;
// 		margin-left: rem(10);
// 		// padding-right: rem(8);
// 		margin-right: rem(10);
// 		opacity: 1 !important;
// 		&-active,
// 		&:hover {
// 			background-color: $blue !important;
// 		}
// 	}
// }

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: "object-fit: cover; object-position: top;";
}

a {
	@include mt;
}

.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

.btn-animate {
	position: relative;
	overflow: hidden;
	z-index: 2;
	&::after {
		content: "";
		display: block;
		width: 30px;
		height: 300px;
		margin-left: 60px;
		background: #fff;
		opacity: 0.3;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0, #fff 50%, rgba(255, 255, 255, 0.7) 100%);
		position: absolute;
		left: -40px;
		top: -150px;
		z-index: -1;
		transform: rotate(45deg);
		transition: all 0.1s;
		animation-name: slideme;
		animation-duration: 3s;
		animation-delay: 50ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
}
.btn-accent {
	box-shadow: 0 5px $em-base rgba(158, 200, 86, 0.5);
	background-color: $primary;
	background-image: linear-gradient(to right, #548e46 0%, $primary 100%);
	color: #ffffff;
	font-weight: 700;
	background-size: 200%;
	background-position: center center;
	@include mt;
	@extend .btn-animate;

	&:hover {
		background-position: left center;
		color: #ffffff;
	}
}

@keyframes slideme {
	0% {
		left: -30px;
		margin-left: 0;
	}

	30% {
		left: 110%;
		margin-left: 80px;
	}

	100% {
		left: 110%;
		margin-left: 80px;
	}
}
// .pagination-wrapper li

.link-more {
	display: inline-flex;
	align-items: center;
	margin-top: rem(5);
	text-decoration: none !important;
	text-transform: uppercase;
	font-size: $small;
	font-weight: 400;
	line-height: 1.67;
	text-transform: uppercase;

	.icon {
		font-size: rem(7);
		margin-left: rem(26);
	}
}

.wp-block-embed__wrapper,
.video-wrap {
	position: relative;
	@include block(570, 315);

	> * {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

h1,
h2,
h3,
h5,
h5,
h6 {
	font-weight: bold;
}

h3 {
	margin-bottom: rem(20);
}

ol {
	list-style-type: none;
	counter-reset: num;

	> li {
		position: relative;

		&::before {
			content: counter(num) ".";
			counter-increment: num;
			font-weight: bold;
			position: absolute;
			left: rem(-20);
		}
	}
}

.arrow-wrap {
	@include media-breakpoint-up(lg) {
		position: absolute;
		right: 0;
	}

	margin-bottom: rem(20);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: rem(58);
	top: rem(20);
}

.menu-image-title-after.menu-image-not-hovered img,
.menu-item a img,
img.menu-image-title-after {
	margin-right: 0;
	padding-right: 0 !important;
	@extend .res-i;
}

.menu-image-title-after.menu-image-title {
	padding-left: 0;
}

figure iframe {
	width: 100%;
}

.btn_back_cat {
	@extend .btn-accent;
	display: block;
	max-width: rem(180);

	&::before {
		content: "â† ";
	}
}

#bio_ep_close {
	display: none !important;
}

.grecaptcha-badge {
	@extend .invisible;
}

.row {
	--bs-gutter-x: #{$grid-gutter-width};
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
	& > * {
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-top: var(--bs-gutter-y);
	}
}

//-
.btn-primary {
	color: $white !important;
}

.btn-green {
	border: none;
	@extend .btn;
	@extend .btn-primary;
	text-transform: uppercase;
	font-size: 14px;
	padding: rem(29) rem(20);

	background: radial-gradient(100% 100% at 50.18% 0%, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0) 100%),
		#86b92d !important;
	box-shadow: 0px 4px 0px #86b92d, inset 0px 0px 10px rgba(255, 255, 255, 0.21);
	&:hover {
		background: radial-gradient(100% 100% at 50.18% 0%, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0) 100%),
			#86b92d !important;
		box-shadow: 0px 0px 0px rgba(#86b92d, 0), inset 0px 0px 10px rgba(255, 255, 255, 0.1);
	}
}

.has-backplate {
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		pointer-events: none;
		z-index: -1;
		top: var(--top-shift, 10px);
		left: var(--left-shith, 10px);
		height: 100%;
		width: calc(100% - var(--left-shith, 10px) * 2);

		background: $white;
		filter: drop-shadow(0px 8px 15px rgba(19, 21, 26, 0.1));
		border-radius: rem(15);
	}
}

.inner-border {
	background: $white;
	filter: drop-shadow(0px 8px 15px rgba(19, 21, 26, 0.1));
	border-radius: 15px;

	position: relative;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		pointer-events: none;
		top: var(--box-padd, 10px);
		left: var(--box-padd, 10px);
		width: calc(100% - var(--box-padd, 10px) * 2);
		height: calc(100% - var(--box-padd, 10px) * 2);

		border-radius: rem(15);
		border: 1px solid #dad8e3;
	}
}

.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.blue-bg {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: -15%;
		top: -30%;
		width: 130%;
		height: 160%;
		background-image: radial-gradient(
				60.09% 60.09% at 50% 19.57%,
				rgba(255, 255, 255, 0.2) 0%,
				rgba(255, 255, 255, 0) 100%
			),
			linear-gradient(180deg, #52a7d8 0%, #3395ce 100%);
		filter: blur(30px);
		z-index: -1;
		@include media-breakpoint-up(sm) {
			left: -5%;
			width: 110%;
		}
	}
	.section-title {
		color: $white;
	}
	// .swiper-pagination {
	// 	&-bullet {
	// 		background-color: rgba(255, 255, 255, 0.3) !important;
	// 		&-active,
	// 		&:hover {
	// 			background-color: $white !important;
	// 		}
	// 	}
	// }
}


select.form-control{

	background-image: $custom-select-indicator;
	background-position: calc(100% - #{$custom-select-padding-x}) 50%;
	background-repeat: no-repeat;
	appearance: none;
}