:root{
	
	--sPT: #{ rem(80px)};
	--sPB: #{ rem(60px)};
	--sTPB: #{rem(20)};

	--check: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50925 0.412109L4.70964 5.21168L2.16808 2.67019L0.799561 4.03871L4.70964 7.94883L10.8778 1.78062L9.50925 0.412109Z' fill='%23545359'/%3E%3C/svg%3E%0A");
	
	--check-white: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50949 0.412491L4.70988 5.21206L2.16832 2.67058L0.799805 4.03909L4.70988 7.94921L10.878 1.78101L9.50949 0.412491Z' fill='white'/%3E%3C/svg%3E%0A");

	--check-success: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50949 0.412491L4.70988 5.21206L2.16832 2.67058L0.799805 4.03909L4.70988 7.94921L10.878 1.78101L9.50949 0.412491Z' fill='%2386B92D'/%3E%3C/svg%3E%0A");

}