@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-accordion-arrow {
	$h: 8;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-arrow-left {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(28 / #{$h} *1em );
}
.icon-arrow-right {
	$h: 7;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-arrow2-right {
	$h: 13;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-calc {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-dobitsya_vysokoy {
	$h: 500;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(500 / #{$h} *1em );
}
.icon-facebook {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-fb {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(8 / #{$h} *1em );
}
.icon-instagram {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-load {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-logo {
	$h: 55;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(35 / #{$h} *1em );
}
.icon-mail {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-povysit_eff {
	$h: 500;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(500 / #{$h} *1em );
}
.icon-result-arrow {
	$h: 66;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(75 / #{$h} *1em );
}
.icon-search {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-slider-arrow-left {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-slider-arrow-right {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-sokratit_sroki {
	$h: 500;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(500 / #{$h} *1em );
}
.icon-star {
	$h: 13;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-svesti_k_minimumu {
	$h: 500;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(500 / #{$h} *1em );
}
.icon-tel {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-tel2 {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-telegram {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-user {
	$h: 18;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-whatsapp-filled {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-youtube {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-zoom-pl {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
