.val-2-0 {
	background-color: #F5F5F5;
	@include media-breakpoint-down(xl) {
		.breadcrumb {
			display: none;
		}
		.page-head {
			padding-top: 0;
		}
	}

	.section-border-bottom {
		border: none;
	}
	.section-title {
		h2 {
			font-weight: 600;
			@include rfs(60px);
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
			@include media-breakpoint-down(xl) {
				font-size: rem(60);
			}
			&::after, &::before {
				content: none;
			}
		}
	}
	.btn-outline-primary {
		&:hover {
			color: $white;
		}
	}
}
