$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import 'bourbon/app/assets/stylesheets/bourbon';
// @import "../../node_modules/rfs/scss";

@import 'mixin';
@import 'fonts';

// @import "bootstrap-theme/bootstrap";
// Option B: Include parts of Bootstrap

@import 'root';
@import 'bootstrap/vendor/rfs';
@import 'bootstrap/functions';
@import 'vars';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

@import '_sprite';

// $theme-colors: map-remove($theme-colors, "info", "light", "dark",'warning');
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
// @import "bootstrap/images";
// @import "bootstrap/code";
@import 'bootstrap/grid';
// @import "bootstrap/tables";
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
@import 'bootstrap/breadcrumb';
.breadcrumb {
  font-size: $small;
  // justify-content: center;
  // text-transform: uppercase;
  padding-bottom: rem(5);
  padding-left: 0;
  li {
    // padding-left: rem(3);
    a {
      color: $body-color;
      // text-decoration: underline;
      border-bottom: 1px solid;
      &:hover {
        border-color: transparent;
      }
    }
  }
  .active {
    a {
      color: $breadcrumb-active-color;
      border-color: transparent;
      pointer-events: none;
    }
  }
}
@import 'bootstrap/pagination';
.pagination-wrapper {
  padding-top: rem(20);
  display: flex;
  width: 100%;
  justify-content: center;
}
.pagination-wrapper ul {
  @extend .pagination;
  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
  .next,
  .prev {
    svg {
      margin: rem(0) rem(7) rem(4);
      font-size: rem(8);
    }
  }
  .page-numbers {
    text-transform: uppercase;
    span {
      padding: 0 rem(15);
    }
    @include media-breakpoint-down(xs) {
      .text-arrow {
        display: none;
      }
    }
  }
}
.pagination-wrapper li .page-numbers {
  @extend .page-link;
  border: none;
  &:hover {
    background-color: transparent;
  }
}
.pagination-wrapper li {
  @extend .page-item;
  .active {
    color: $body-color;
  }
  .current {
    z-index: 1;
    color: $body-color;
    // background-color: $pagination-active-bg;
    border: none;
  }
}
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/toasts";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/spinners";
@import 'bootstrap/utilities';

// @import "print";

// @import "../libs/animate";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fontawesome";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-brands";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-regular";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-solid";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-light";
// @import "../libs/magnificPopup/magnific-popup.sass";
// @import "../libs/swiper/swiper.min.css";
// @import "../libs/select2-4.0.6-rc.1/dist/css/select2.min";
// @import "../libs/dropzone";
// @import "../libs/gijgo-master/dist/combined/css/gijgo";
// @import "../libs/gijgo-master/dist/combined/css/demo.min";

// @import "../libs/ion.rangeSlider/css/ion.rangeSlider.min.css";

@import 'root';
@import 'base';
@import 'swiper';
@import '../pug/blocks/**/*.scss';
@import 'val-2-0'; // Всегда в конце
@import 'media'; // Всегда в конце
