mixin sPprkSources()
	// start sPprkSources
	+b.SECTION.sPprkSources.section#sPprkSources&attributes(attributes)
		.container
			+b.section-title
				h2 Исходные данные для ППРк
				span К&nbsp;исходным данным, необходимым для разработки проекта производства работ кранами, относятся:
			.row
				.col.col-4
					.item
						p Проектная документация (ПОС, Стройгенплан Объекта, рабочая документация, в&nbsp;том числе планы и&nbsp;разрезу по&nbsp;зданию, сведения о&nbsp;грузоподъемных механизмах).
				.col.col-4
					.item
						p Документы от&nbsp;организации&nbsp;&mdash; исполнителя крановых работ (свидетельство ОГРН, допуск СРО, удостоверение об&nbsp;аттестации в&nbsp;Ростехнадзоре).
				.col.col-4
					.item
						p От организации — владельца крана (свидетельство ОГРН, свидетельство о регистрации техники в госреестре, удостоверение главного механика по кранам).
			p Звоните нам, если вам необходима срочная или нет, разработка ППР на&nbsp;работу крана на&nbsp;стройплощадках. Все исходные данные присылайте на&nbsp;электронную почту <a href="mailto:9713971@mail.ru">9713971@mail.ru</a>. Четкое и&nbsp;грамотное выполнение, не&nbsp;отклоняющееся от&nbsp;регламента, гарантируем.
	// end sPprkSources