mixin s-rews()
	// start s-rews
	+b.s-rews.section#s-rews&attributes(attributes) 
		+b.section-title.text-center(class="wow slideInLeft" data-wow-duration="0.4s" data-wow-delay="0")
			h2 Отзывы о нас
			a.link-more(href="#") /   Все отзывы
				+icon('arrow-right') 
		+e.block
			+e.DIV.img-wrap(href="img/@2x/man-rew.jpg" data-fancybox="rews")
				img.lazy(src="#" data-src="img/@2x/man-rew.jpg", alt="")
	// end s-rews