mixin sHowOrderItem(i,t,a,p,btn)
	+e.item
		+e.title!= t 
			if a
				a(href="#")= a
		p!= p
		a.btn-green.btn-animate(href='#')= btn
		+img(`sHowOrder-${i}.png`)

mixin sHowOrder()
	// start sHowOrder
	+b.SECTION.sHowOrder.section#sHowOrder&attributes(attributes)
		.container
			block
			+b.section-title
				h2 Как заказать проект организации строительства (ПОС)?
			+sHowOrderItem(`1`,`Позвоните по телефону `,`+7 (495) 971-39-71`,`Наши инженеры-проектировщики с высшим строительным образованием и опытом работы, консультируют Вас по всем интересующим вопросам, касающимся разработки и согласования проектов организации строительства, помогают быстро и удобно заказать ПОС на любой вид строительных или ремонтных работ.`,`Получить консультацию`)
			+sHowOrderItem(`2`,`При наличии исходных данных в электронном виде — присылайте их нам по электронной почте `,`mail@orgdoc.ru`,`Если исходных данных нет, мы помогаем их собирать самостоятельно за Вас. Мы в течении 15 минут рассматриваем их и делаем Вам подробное предложение с ценами и сроками на разработку ПОС.`,'Написать на почту')
	// end sHowOrder

mixin sHowOrder14()
	// start sHowOrder
	+b.SECTION.sHowOrder.section#sHowOrder&attributes(attributes)
		.container
			block
			+b.section-title
				h2 Вам необходимо заказать ППР? <br>Заказ ППР от&nbsp;15&nbsp;минут.
			+sHowOrderItem(`1`,`Позвоните по&nbsp;телефону&nbsp;<a href="tel:+74959713971">+7 (495) 971-39-71</a><br> или напишите на&nbsp;почту <a href="mailto:mail@orgdoc.ru">mail@orgdoc.ru</a>`,``,`Специалисты компании в&nbsp;течении 15&nbsp;минут подготовят подробный расчет стоимости и&nbsp;сроков разработки ППР и&nbsp;отправят Вам на&nbsp;почту. Важно обратить внимание, что позвонив нам&nbsp;Вы будете общаться сразу с&nbsp;компетентными специалистами, которые подробно проконсультирует Вас по&nbsp;стоимости ППР, срокам разработки проектов и&nbsp;их&nbsp;составу.`,`Получить консультацию`)
			+sHowOrderItem(`2`,`Сроки разработки ППР: разработка ППР от&nbsp;2-х дней `,``,`Обратившись в&nbsp;нашу компанию&nbsp;Вы получите качественно разработанный Проект производства работ (ППР) за&nbsp;разумные, адекватные деньги в&nbsp;кратчайшие сроки. Так как у&nbsp;нас работают только штатные специалисты, и&nbsp;за&nbsp;более чем 13&nbsp;лет выполнено более 1000 проектов ППР (по&nbsp;ссылке можно ознакомиться с&nbsp;примерами разработанных ППР) мы&nbsp;имеем возможность, благодаря накопленному опыту и&nbsp;огромной базе проектов, выполнять разработку ППР оперативно и&nbsp;качественно от&nbsp;2-х дней.`,'Написать на почту')
	// end sHowOrder