mixin sHowOrder()
	// start sHowOrder
	+b.SECTION.sHowOrder.section#sHowOrder&attributes(attributes)
		.container
			+b.section-title
				h2 Как заказать проект организации строительства (ПОС)?
			mixin item(i,t,a,p,btn)
				+e.item
					+e.title= t 
						a(href="#")= a
					p!= p
					a.btn-green.btn-animate(href='#')= btn
					+img(`sHowOrder-${i}.png`)
			+item(`1`,`Позвоните по телефону `,`+7 (495) 971-39-71`,`Наши инженеры-проектировщики с высшим строительным образованием и опытом работы, консультируют Вас по всем интересующим вопросам, касающимся разработки и согласования проектов организации строительства, помогают быстро и удобно заказать ПОС на любой вид строительных или ремонтных работ.`,`Получить консультацию`)
			+item(`2`,`При наличии исходных данных в электронном виде — присылайте их нам по электронной почте `,`mail@orgdoc.ru`,`Если исходных данных нет, мы помогаем их собирать самостоятельно за Вас. Мы в течении 15 минут рассматриваем их и делаем Вам подробное предложение с ценами и сроками на разработку ПОС.`,'Написать на почту')
	// end sHowOrder