mixin s-advantages()
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow slideInLeft" data-wow-duration="0.4s" data-wow-delay="0")
				h2 Наши преимущества
			+e.slider--js.swiper
				.swiper-wrapper
					mixin item(i)
						+e.slide.swiper-slide
							+e.item
								img(src=`img/svg/advantages-${i}.svg`, alt="").res-i
								//- +e.icon-wrap
								block
					+item("1")
						+e.title Разрабатываем ППР, ПОС, ПОДД, ППРк
						p Москве, МО и в других регионах РФ уже более 16 лет одним и тем же названием компании, ИНН, телефоном и адресом
					+item("5")
						+e.title Поможем быстро согласовать Проект
						p Мосгортранс, Мосгоргеотрест (ОПС), Департаментом транспорта, ЦОДД, ФСО, Мосавтодор, оформим Ордер ОАТИ или получим ТУ
					+item("4")
						+e.title Курьерская доставка
						p Наличие курьеров, готовых привезти проекты в любое удобное для Вас место
						+e.btn.btn.btn-primary(href='#') Заказать консультацию
					+item("5")
						+e.title Индивидуальный подход
						p Решаем «нестандартные задачи»  и никогда не просим доплат за корректировки Проекта
					+item("2")
						+e.title Мы&nbsp;находимся в&nbsp;Москве
						p Наши специалисты бесплатно посетят Ваш объект, учтут все тонкости и нюансы строительства или организации движения. Вы получите профессиональный Проект на 100%
			+b.control-wrap
				+arrow
				.swiper-pagination
	// end s-advantages