// start .s-advantages
.s-advantages {
	padding-top: rem(52);
	padding-bottom: rem(52);
	// margin-bottom: 0;
	// padding-bottom: 0;
	background-color: #F6F7F8;
	@include media-breakpoint-up(lg) {
		padding-top: rem(65);
		padding-bottom: rem(75);
	}
	.section-title {
		padding-bottom: rem(60);
		h2 {
			&:before, 
			&:after {
				content: unset;
			}
		}
	}

	.row {
		@include media-breakpoint-up(lg) {

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__col {
		max-width: 100%;
		margin-bottom: rem(50);

		p {

			font-size: rem(14);
			line-height: 1.71;
		}

		@include media-breakpoint-up(lg) {
			max-width: 100%;
			flex: 0 0 100%;
		}

		@include media-breakpoint-up(md) {
			max-width: 50%;
			flex: 0 0 50%;
		}


		&:nth-child(3) {
			@include media-breakpoint-up(md) {
				max-width: 100%;
				flex: 0 0 100%;
			}

			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;

			@include media-breakpoint-up(lg) {

				.s-advantages__item {
					padding-top: rem(52);
				}

				.s-advantages__icon-wrap {
					top: auto;
					margin-bottom: rem(60);
				}
			}

			p {
				@extend h5;
				line-height: 1.56;
			}
		}


	}
	&__slide {
		&.swiper-slide-active {
			.s-advantages__item {
				// border: 2px solid #86B92D;
				box-shadow: 0px 15px 50px 0px rgba(226, 226, 226, 0.90);
				&:before {
					border-color: #86B92D;
				}
			}
		}
		&.swiper-slide-active, &.swiper-slide-prev, &.swiper-slide-next {
			.s-advantages__item {
				opacity: 1;
			}
		}
	}
	&__item {
		@include mt;
		border-radius: rem(16);
		border: 1px solid #F1F1F1;
		background-color: #FFF;
		padding: rem(39);
		opacity: 0.4;
		position: relative;
		&::before {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			pointer-events: none;
			left: 0;
			top: 0;
			border: 2px solid transparent;
			border-radius: rem(16);
		}
		img {
			margin-bottom: rem(16);
		}
		p {
			color: #262626;
			font-size: rem(18);
			font-weight: 400;
			line-height: 1.66;
			padding-bottom: rem(36);
			margin-bottom: rem(32);
			position: relative;
			&:has(~ .s-advantages__btn) {
				margin-bottom: rem(32);
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				height: 4px;
				width: rem(30);
				border-radius: 10px;
				background-color: #8DD312;
				left: 0;
				bottom: 0;
			}
		}
	}
	&__btn {
		background-image: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%), #86B92D;
		box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.21) inset, 0px 4px 0px 0px #86B92D;
		font-size: rem(16);
		font-weight: 700;
		line-height: 1.87;
		padding: rem(4) rem(16);
		width: 100%;
		
		&:hover {
			box-shadow: none;
		}
	}
	&__title {
		color: #2C3136;
		font-size: rem(24);
		font-weight: 600;
		line-height: normal;
		margin-bottom: rem(16);
	}
	// &__icon-wrap {
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	position: relative;
	// 	width: rem(110);
	// 	height: rem(110);
	// 	z-index: 2;
	// 	text-align: center;
	// 	justify-content: center;
	// 	align-items: center;
	// 	display: flex;
	// 	top: rem(-35);
	// 	margin-bottom: rem(-18);
	// 	padding: rem(25);

	// 	img {

	// 		@extend .res-i;
	// 	}

	// 	&::before {
	// 		content: '';
	// 		z-index: -1;
	// 		border-radius: $border-radius * 2;
	// 		width: 90%;
	// 		height: 90%;
	// 		box-shadow: 0 5px $em-base rgba(184, 255, 58, 0.3);
	// 		background-color: $primary;
	// 		@include a-cent;
	// 		transform: translate(-50%, -50%) rotate(45deg);
	// 	}
	// }
	.control-wrap {
		margin-top: rem(50);
	}
	.swiper-pagination-bullet {
		background-color: #DCE4E8;
		&.swiper-pagination-bullet-active {
			background-color: #86B92D;
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-advantages