mixin sServiceSlider()
	+b.slider-service-wrap
		+b.slider-service--js.swiper
			.swiper-wrapper
				block
		+b.control-wrap.d-md-none
			+arrow
			.swiper-pagination

mixin sAddServices()
	// start sAddServices
	+b.SECTION.sAddServices.section#sAddServices&attributes(attributes)
		+e.wrapper
		.container
			+b.section-title
				h2 Помимо качественного проекта организации дорожного движения (ПОДД), обратившись к&nbsp;нам&nbsp;Вы можете заказать:
			+input('Поиск услуги','text','')
			+sServiceSlider()
				+e.slide.swiper-slide
					+sExamples-item(`<span>Установка</span> дорожных знаков`,'9')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Проекты</span> ПОДД и&nbsp;Схемы ОДД`,'10')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Нанесение</span> дорожной разметки`,'11')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Выполнение</span> Топографической съемки`,'12')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Проектирование</span> автомобильных дорог`,'13')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Проектирование</span> АСУДД или светофорных объектов`,'14')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Обустройство</span> и&nbsp;проектирование парковок, автостоянок`,'15')
				+e.slide.swiper-slide
					+sExamples-item(`<span>Разработка</span> Схем транспортного обслуживания (СТО/ТС)`,'16')

	// end sAddServices