mixin s-price()
	// start s-price
	+b.SECTION.s-price.section#s-price&attributes(attributes)
		.container
			+e.title.text-center.wow.slideInLeft(data-wow-duration="0.4s" data-wow-delay="0")
				h2 Цены на нанесение дорожной разметки
			.table-wrap
				table
					thead
						tr
							th Вид разметки
							th Описание
							th.text-center(colspan='3') Нанесение разметки (цена)
						tr
							td
							td
							td Краской
							td Термопластиком
							td Холодным пластиком
					tbody
						tr
							td
								img(src="img/@2x/price-1.png", alt="")
							td Сплошная продольная
							td от #[b 30]₽ за п.м.
							td от #[b 75]₽ за п.м.
							td от #[b 150]₽ за м#[sup 2]
						tr
							td
								img(src="img/@2x/price-2.png", alt="")
							td Пунктирная продольная
							td от #[b 37]₽ за п.м.
							td от #[b 82]₽ за п.м.
							td от #[b 300]₽ за м#[sup 2]
						tr
							td
								img(src="img/@2x/price-3.png", alt="")
							td Сплошная поперечная
							td от #[b 300]₽ за м#[sup 2]
							td от #[b 1400]₽ за м#[sup 2]
							td от #[b 1600]₽ за м#[sup 2]
						tr
							td
								img(src="img/@2x/price-4.png", alt="")
							td Фигурная простая
							td от #[b 675]₽ за м#[sup 2]
							td от #[b 2500]₽ за м#[sup 2]
							td от #[b 3000]₽ за м#[sup 2]
						tr
							td
								img(src="img/@2x/price-5.png", alt="")
							td Фигурная сложная
							td от #[b 700]₽ за м#[sup 2]
							td от #[b 2500]₽ за м#[sup 2]
							td от #[b 3000]₽ за м#[sup 2]
			.table-wrap
				table
					thead
						tr
							th Сушка поверхности <br> перед нанесением
							th Нумерация <br> машиномест
							th Демаркировка <br> разметки
							th Вертикальная <br> разметка
							th Покраска <br> бордюров
					tbody
						tr
							td от #[b 500]₽ за м#[sup 2]
							td от #[b 70]₽ за символ
							td от #[b 90]₽ за п.м.
							td от #[b 250]₽ за м#[sup 2]
							td от #[b 100]₽ за п.м.

	// end s-price