// start .s-price
.s-price {
	padding-top: rem(30);
	padding-bottom: rem(20);

	@include media-breakpoint-up(lg) {
		padding-top: rem(33);
		padding-bottom: rem(60);
	}

	&__title {
		h2 {
			margin-bottom: rem(40);
			@include rfs(28px);
		}
	}
	.table-wrap {
		overflow-x: auto;
		margin-bottom: rem(40);
	}

	table {
		width: 100%;
		min-width: rem(690);
		th,
		td {
			&:not(:last-child) {
				
			}
			&:first-child {
				border-left: 1px solid #e5e5e5;
			}
			border-right: 1px solid #e5e5e5;
			padding: rem(10) rem(10);
		}
		
		tbody td {
			border-bottom: 1px solid #e5e5e5;
		}
		
		thead {
			color: $white;
			th {
				background-color: $green;
				&:first-child {
					border-left-color: $green;
				}
				&:last-child {
					border-right-color: $green;
				}
			}
			td {
				background-color: $blue;
				font-size: rem(14);
				border-bottom: none;
				&:first-child {
					border-left-color: $blue;
				}
				&:last-child {
					border-right-color: $blue;
				}
			}
		}

		tbody {
			font-size: rem(14);
		}
		img {
			max-width: rem(155);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.s-price
