mixin sCases(hidden, img='pencil.png', common, title)
	// start sCases
	+b.SECTION.sCases(class="section")#sCases&attributes(attributes)
		+e.inner
			.container(style=`--before: url(../img/${img}); --after: url(../img/paper.png)`)
				+b.section-title.text-center
					h2!= title
				if common	
					+e.slider--js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 4; x++)
								+e.slide.swiper-slide
									+e.item
										+e.img-wrap.bg-wrap
											img(src="img/@2x/case-1.jpg", alt="").picture-bg
											+e.label 230 страниц, PDF
										+e.caption
											+e.title Разработка ПОС для «ПромТоргСтрой»
											+e.btn(href="#") Смотреть проект
				else
					block
				+b.control-wrap
					+arrow
					.swiper-pagination
		if !hidden
			.container
				+e.content
					h6 Разработаем проект организации строительства (ПОС) с согласованием со всеми заинтересованными службами
					p Проект организации строительства (ПОС) — это по сути специально подготовленный план, который позволяет оперативно и эффективно разрешать любые задачи, связанные с рациональным обустройством строительной площадки. В соответствии с Постановлением Правительства Российской Федерации №87 от 16 февраля 2008 года, ПОС – обязательный раздел в любом ПД. Без данного проекта невозможно получить разрешение на возведение объекта, его ремонт или реконструкцию.
					p Наша компания специализируется на подготовке проекта организации строительства. Мы обеспечиваем полный пакет услуг по разработке и созданию данного проекта в соответствии с актуальными нормативами и требованиями.
					a.btn-green.btn-animate(href='#')
						+icon('calc')
						| Заказать разработку пос
	// end sCases