mixin sMainDocs()
	// start sMainDocs
	+b.SECTION.sMainDocs.section#sMainDocs&attributes(attributes)
		+e.wrapper
			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
		.container
			+b.section-title
				h2 Состав проекта организации строительства (ПОС) включает в&nbsp;себя следующие основные документы
			.row
				.col-md-6.col-lg-4
					+e.item
						p #[span Календарный план строительства, ] в&nbsp;котором определяются сроки и&nbsp;очередность возведения основных и&nbsp;вспомогательных зданий с&nbsp;распределением капитальных вложений по&nbsp;периодам строительства
				.col-md-6.col-lg-4
					+e.item
						p #[span Организационно-технологические схемы, ] определяющие последовательность возведения объектов и&nbsp;выполнения работ
				.col-md-6.col-lg-4
					+e.item
						p #[span Ведомости объемов основных строительных, ] монтажных и&nbsp;специальных строительных работ с&nbsp;выделением работ по&nbsp;основным зданиям и&nbsp;сооружениям и&nbsp;периодам строительства
				.col-md-6.col-lg-4
					+e.item
						p #[span Строительные генеральные планы ] для подготовительного и&nbsp;основного периодов строительства
				.col-md-6.col-lg-4
					+e.item
						p #[span График потребности в&nbsp;основных строительных машинах; ] график потребности в&nbsp;кадрах строителей по&nbsp;основным категориям
				.col-md-6.col-lg-4
					+e.item
						p График потребности в&nbsp;кадрах строителей по&nbsp;основным категориям
				.col-md-6.col-lg-8
					+e.item
						p #[span Пояснительная записка, содержащая основные данные для разработки организационно-технологических решений проекта, ] обоснование методов организации и&nbsp;технологии строительного производства, потребности в&nbsp;кадрах и&nbsp;материально-технических ресурсах, методов производства строительных работ, перечень условий сохранения окружающей среды, технико-экономические показатели (ТЭП)
				.col-md-6.col-lg-4
					+e.item
						p #[span Ведомости потребности в&nbsp;строительных материалах ] и&nbsp;оборудовании с&nbsp;распределением по&nbsp;календарным периодам строительства
				+e.col.col-12
					+e.item--border
						p Состав и&nbsp;содержание Проекта организации строительства (ПОС) могут изменяться в&nbsp;зависимости от&nbsp;сложности и&nbsp;специфики проектируемых объектов, необходимости применения специальных вспомогательных сооружений, приспособлений и&nbsp;установок, особенностей отдельных видов работ, а&nbsp;также от&nbsp;условий поставки на&nbsp;строительную площадку материалов, конструкций и&nbsp;оборудования.

	// end sMainDocs