extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-menu/_s-menu.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-docs/_s-docs.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-blog/_s-blog.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-services/_s-services.pug
include ../blocks/s-cases/_s-cases.pug
include ../blocks/header-block-small/_header-block-small.pug
//- include ../blocks/s-about-work/_s-about-work.pug

block variables
	- let  mainPage= "inner-page"
block title
	- let  title= 'Наши услуги'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block-small()
	+page-head(title,"Главная",'Наши услуги')
	.section-border-bottom
		+s-services
	//- +s-menu
	//- +s-about
	//- +s-advantages
	.container
		.row
			.col-lg-6.col-sm-12
				+s-cases-2
					+b.section-title.text-center
						h2 Наши работы
						a.link-more(href="#") /   Все работы
							+icon('arrow-right') 
			.col-lg-6.col-sm-12
				+s-rews
	+s-docs
	//- +s-form()
	.section-wrap.container
		.row
			.col-lg-6
				+s-news
			.col-lg-6
				+s-blog
	//- +s-logo 
	+footer()