extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-menu/_s-menu.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-docs/_s-docs.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-blog/_s-blog.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-development/_s-development.pug
include ../blocks/s-menu-right/_s-menu-right.pug
include ../blocks/s-cases/_s-cases.pug
include ../blocks/s-about-work/_s-about-work.pug
include ../blocks/header-block-small/_header-block-small.pug
include ../blocks/s-accordion/_s-accordion.pug
include ../blocks/sServiseForm/_sServiseForm.pug
include ../blocks/sCardSlider/_sCardSlider.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sArticles/_sArticles.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sOrderForm/_sOrderForm.pug
include ../blocks/sInformation/_sInformation.pug
include ../blocks/sMainDocs/_sMainDocs.pug
include ../blocks/sHowOrder/_sHowOrder.pug
include ../blocks/sHowWork/_sHowWork.pug



block variables
	- let  mainPage= "inner-page val-2-0"
block title
	- let  title= 'Разработка ПОС'
	- let  titlesub= 'ПОС — Проект Организации Строительства'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block-small().d-none.d-lg-block

	.section-border-bottom
		.container
			.row
				.col-lg-8
					+page-head2(title, titlesub, 'page-bg', "Главная","Услуги", title)
					//- +s-development
					//- +s-accordion
				.col-lg-4
					+s-menu-right
	+sServiseForm
	+sCases
	+sHowOrder
	//- .container
	//- 	.row
	//- 		.col-lg-6.col-sm-12
	//- 			+s-cases-2
	//- 				+b.section-title.text-center(class="wow slideInLeft" data-wow-duration="0.4s" data-wow-delay="0")
	//- 					h2 Наши работы
	//- 					a.link-more(href="#") /   Все работы
	//- 						+icon('arrow-right') 
	//- 		.col-lg-6.col-sm-12
	//- 			+s-rews
	//- +s-docs
	+sMainDocs()
	+sServiseForm2()
	+sHowWork
	+sInformationGoals()
	+sInformation()
	+sCardSlider(`Отзывы клиентов на&nbsp;бланках`, `rev`).blue-bg
	+sCardSlider(`Сертификаты, СРО, удостоверения`, `cert`)
	//- +s-form()
	+sOrderForm().blue-bg
	.container
		.row
			.col-lg-6
				+sArticles(`Новости`, `Bсе новости`)
					+sArticlesItem(`Новости`).--green
			.col-lg-6
				+sArticles(`Блог`, `все статьи`)
					+sArticlesItem(`Блог`).--blue
	+sPartners()
	//- +s-logo 
	+footer()