extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-menu/_s-menu.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-docs/_s-docs.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-blog/_s-blog.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-development/_s-development.pug
include ../blocks/s-menu-right/_s-menu-right.pug
include ../blocks/s-cases/_s-cases.pug
include ../blocks/s-about-work/_s-about-work.pug
include ../blocks/header-block-small/_header-block-small.pug
include ../blocks/s-accordion/_s-accordion.pug
include ../blocks/sServiseForm/_sServiseForm.pug
include ../blocks/sCardSlider/_sCardSlider.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sArticles/_sArticles.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sOrderForm/_sOrderForm.pug
include ../blocks/sInformation/_sInformation.pug
include ../blocks/sMainDocs/_sMainDocs.pug
include ../blocks/sHowOrder/_sHowOrder.pug
include ../blocks/sHowWork/_sHowWork.pug
include ../blocks/sExamples/_sExamples.pug
include ../blocks/sAddServices/_sAddServices.pug
include ../blocks/sAgreement/_sAgreement.pug
include ../blocks/sPoddSources/_sPoddSources.pug
include ../blocks/sFinishedProjects/_sFinishedProjects.pug
include ../blocks/sGetPrice/_sGetPrice.pug



block variables
	- let  mainPage= "inner-page val-2-0"
block title
	- let  title= 'Разработка и согласование ПОДД'
	- let  titlesub= 'ПОДД — Проект Организации Дорожного Движения'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block-small().d-none.d-lg-block

	.section-border-bottom
		.container
			.row
				.col-lg-8
					+page-head2(title, titlesub, 'page-pod-bg','ПОДД', "Главная","Услуги", title)
					p ООО &laquo;С-Проджект&raquo; с&nbsp;2006 года профессионально занимается разработкой и&nbsp;согласованием Схем ОДД, ПОДД (Проектов организации дорожного движения), проектированием автостоянок, установкой и&nbsp;производством дорожных знаков, нанесением дорожной разметки, установкой искусственных дорожных неровностей, обустройством парковок. Более чем за&nbsp;13&nbsp;лет работы разработано и&nbsp;согласовано множество проектов ОДД и&nbsp;схем организации дорожного движения.
					p Качественно и&nbsp;законно разработанный ПОДД (Проект организации дорожного движения выступает гарантией безопасного передвижения пешеходов, транспорта на&nbsp;период строительно-монтажных работ или эксплуатации. Компания &laquo;С-Проджект&raquo; недорого разработает и&nbsp;согласует ПОДД в&nbsp;короткий срок.
					//- +s-development
					//- +s-accordion
				.col-lg-4
					+s-menu-right
	+sGetPrice('Узнать цену Проекта и согласования ОДД на | ', 'Введите название в поиск...','Получить бесплатную консультацию').sGetPrice--blue
	+sCases('hidden', 'pencil.png', '', 'Примеры разработанных нами 2197 ППР и ППРк с 2006 года').mb-0
		+b.ppr-slider.ppr__slider--js.swiper
			.swiper-wrapper
				mixin pprSlide()
					.swiper-slide
						+e.item-wrap
							+e.item
								+e.i-row.row.justify-content-center
									+e.col--img.col-lg-6
										img(src="img/ppr-slider-1.jpg")
										+e.btn-pl
											+icon('zoom-pl')
									+e.col--content.col-lg-6.col-xl.text-lg-start
										+e.title Проект производства работ  для электромонтажа
										+e.client Клиент: ООО «ПромТоргСтрой»
										+e.difficulty
											+e.d-txt Сложность
											+e.d-stars
												-for(var i = 0; i < 2; i++)
													+icon('star')
										+e.descr
											+e.blue 7 листов графической части
											+e.blue 30 страниц
										+e.btn(href="#") Узнать стоимость такого ппр
				+pprSlide()
				+pprSlide()
				+pprSlide()
			+b.control-wrap
				+arrow
				.swiper-pagination
	+sHowOrder('Как заказать проект организации дорожного движения, схему ОДД?')
		+sHowOrderItem(`1`,`Позвоните по&nbsp;телефону&nbsp;`,`+7 (495) 971-39-71`,`Наши специалисты (не&nbsp;менеджеры, а&nbsp;именно инженеры- проектировщики) с&nbsp;высшим строительным образованием и&nbsp;опытом работы, подробно консультируют Вас по&nbsp;всем интересующим вопросам, касающимся разработки и&nbsp;согласования проектов организации дорожного движения (ПОДД), дадут необходимые консультации, помогут быстро и&nbsp;удобно заказать ПОДД на&nbsp;любой вид работ.`,`Получить консультацию`)
		+sHowOrderItem(`2`,`При наличии исходных данных в&nbsp;электронном виде&nbsp;&mdash; присылайте их&nbsp;нам по&nbsp;электронной почте`,`mail@orgdoc.ru`,`Если исходных данных нет, мы&nbsp;помогаем их&nbsp;собирать самостоятельно за&nbsp;Вас. Мы&nbsp;в&nbsp;течении 15&nbsp;минут рассматриваем их&nbsp;и&nbsp;делаем Вам подробное предложение с&nbsp;ценами и&nbsp;сроками на&nbsp;разработку Проекта ОДД.`,'Написать на почту')
	+sExamples
	//- .container
	//- 	.row
	//- 		.col-lg-6.col-sm-12
	//- 			+s-cases-2
	//- 				+b.section-title.text-center(class="wow slideInLeft" data-wow-duration="0.4s" data-wow-delay="0")
	//- 					h2 Наши работы
	//- 					a.link-more(href="#") /   Все работы
	//- 						+icon('arrow-right') 
	//- 		.col-lg-6.col-sm-12
	//- 			+s-rews
	//- +s-docs
	//- +sMainDocs()
	+sServiseForm2
	+sAddServices
	+sAgreement
	+sPoddSources
	+sFinishedProjects
	+sCardSlider(`Отзывы клиентов на&nbsp;бланках`, `rev`).blue-bg
	+sCardSlider(`Сертификаты, СРО, удостоверения`, `cert`)
	//- +s-form()
	+sOrderForm('ПОДД').blue-bg
	.container
		.row
			.col-lg-6
				+sArticles(`Новости`, `Bсе новости`)
					+sArticlesItem(`Новости`).--green
			.col-lg-6
				+sArticles(`Блог`, `все статьи`)
					+sArticlesItem(`Блог`).--blue
	+sPartners()
	//- +s-logo 
	+footer()