mixin sInformation()
	// start sInformation
	+b.SECTION.sInformation.section#sInformation&attributes(attributes)
		.container
			+b.section-title
				h2 Какую информацию содержит ПОС
			p Команда специалистов-проектировщиков нашей компании осуществляет комплексную подготовку всей документации, которая должна быть включена в&nbsp;раздел проекта организации строительства. В&nbsp;случае разделения строительных работ (так часто бывает при работе с&nbsp;крупными проектами), ПОС составляется для каждой очереди отдельно.
			.strong В&nbsp;проекте присутствует:
			.row
				.col-md-6.col-lg-4
					+sInformationItem(`01`, `Полный календарный план выполнения работ, по&nbsp;которому можно точно сказать, когда строительство начнется, и&nbsp;когда завершится`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`02`, `Генеральный строительный план`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`03`, `Технологические и&nbsp;организационные схемы работ на&nbsp;строительной площадке`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`04`, `Ведомости и&nbsp;акты, в&nbsp;которых отражена информация о&nbsp;количестве привлеченной специализированной техники (с&nbsp;обоснованием необходимости ее&nbsp;использования)`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`05`, `Графики поставки отдельных видов строительных машин и&nbsp;оборудования`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`06`, `Пояснительная записка`).--blue
			p Команда наших проектировщиков включает опытных специалистов, имеющих необходимые сертификаты, своевременно проходящих курсы повышения квалификации. Имеем огромный опыт подготовки проектов организации строительства для объектов разных масштабов. Готовы в&nbsp;оптимальный срок создать раздел ПОС любого уровня сложности.
	// end sInformation

mixin sInformationGoals()
	// start sInformation--goals
	+b.SECTION.sInformation.sInformation--goals.section#sInformation&attributes(attributes)
		+e.wrapper
		.container
			+b.section-title
				h2 Основные цели и&nbsp;задачи проекта организации строительства ПОС
			p Разработка проектной документации начинается задолго до&nbsp;того, как первый экскаватор на&nbsp;земельном участке начнет готовить котлован под фундамент будущего здания. Разработка ПОС начинается с&nbsp;подготовки техническо-экономического обоснования: определения необходимых капитальных вложений, выявления ключевых потребностей строительной площадки в&nbsp;ресурсах.
			.strong Наличие грамотного ПОС дает возможность:
			.row
				.col-md-6.col-lg-3
					+sInfoItem(1, `Свести к&nbsp;минимуму стоимость всех строительных работ`)
				.col-md-6.col-lg-3
					+sInfoItem(2, `Сократить сроки возведения, реконструкции или ремонта объекта`)
				.col-md-6.col-lg-3
					+sInfoItem(3, `Повысить эффективность и&nbsp;качество выполняемых работ`)
				.col-md-6.col-lg-3
					+sInfoItem(4, `Добиться высокой производительности труда`)
			p Именно проектирование позволяет своевременно завершать строительные работы и&nbsp;вводить объект в&nbsp;эксплуатацию в&nbsp;установленные сроки. При этом Проект организации строительства (ПОС) обеспечивает минимизацию трудовых затрат, экономию материальных, энергетических ресурсов. И&nbsp;все это&nbsp;&mdash; без потери качества строительства.
			.strong Все изложенные факторы определяют основные цели проекта организации строительства:
			.row
				.col-md-6.col-xl-5
					+sInformationItem(`01`, `Обеспечить качество инфраструктуры на&nbsp;строительной площадке`)
				.col-md-6.col-xl-7
					+sInformationItem(`02`, `Определить последовательность реализации строительных задач, обеспечить календарное планирование работ на&nbsp;каждом из&nbsp;этапов`)
				.col-md-6.col-xl-7
					+sInformationItem(`03`, `Установить основные источники снабжения площадки конструкциями и&nbsp;строительными материалами, запланировать наиболее подходящие варианты их&nbsp;доставки`)
				.col-md-6.col-xl-5
					+sInformationItem(`04`, `Определить, какая специализированная техника будет использоваться на&nbsp;площадке. Согласовать ее&nbsp;количественный состав`)
				.col-md-6.col-xl-4
					+sInformationItem(`05`, `Установить категорию, количество и&nbsp;состав рабочих бригад`)
				.col-md-6.col-xl-3
					+sInformationItem(`06`, `Решить проблемы рекультивации стройплощадки`)
				.col-12.col-xl-5
					+sInformationItem(`07`, `Разработать план экологических мероприятий, которые помогут максимально сохранить природную среду в&nbsp;процессе техногенного вмешательства`)
				
	// end sInformation--goals