mixin sInformation()
	// start sInformation
	+b.SECTION.sInformation.section#sInformation&attributes(attributes)
		.container
			+b.section-title
				h2 Какую информацию содержит ПОС
			p Команда специалистов-проектировщиков нашей компании осуществляет комплексную подготовку всей документации, которая должна быть включена в&nbsp;раздел проекта организации строительства. В&nbsp;случае разделения строительных работ (так часто бывает при работе с&nbsp;крупными проектами), ПОС составляется для каждой очереди отдельно.
			.strong В&nbsp;проекте присутствует:
			.row
				.col-md-6.col-lg-4
					+sInformationItem(`01`, `Полный календарный план выполнения работ, по&nbsp;которому можно точно сказать, когда строительство начнется, и&nbsp;когда завершится`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`02`, `Генеральный строительный план`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`03`, `Технологические и&nbsp;организационные схемы работ на&nbsp;строительной площадке`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`04`, `Ведомости и&nbsp;акты, в&nbsp;которых отражена информация о&nbsp;количестве привлеченной специализированной техники (с&nbsp;обоснованием необходимости ее&nbsp;использования)`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`05`, `Графики поставки отдельных видов строительных машин и&nbsp;оборудования`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`06`, `Пояснительная записка`).--blue
			p Команда наших проектировщиков включает опытных специалистов, имеющих необходимые сертификаты, своевременно проходящих курсы повышения квалификации. Имеем огромный опыт подготовки проектов организации строительства для объектов разных масштабов. Готовы в&nbsp;оптимальный срок создать раздел ПОС любого уровня сложности.
	// end sInformation