mixin sInformation()
	// start sInformation
	+b.SECTION.sInformation.section#sInformation&attributes(attributes)
		.container
			+b.section-title
				h2 Какую информацию содержит ПОС
			p Команда специалистов-проектировщиков нашей компании осуществляет комплексную подготовку всей документации, которая должна быть включена в&nbsp;раздел проекта организации строительства. В&nbsp;случае разделения строительных работ (так часто бывает при работе с&nbsp;крупными проектами), ПОС составляется для каждой очереди отдельно.
			.strong В&nbsp;проекте присутствует:
			.row
				.col-md-6.col-lg-4
					+sInformationItem(`01`, `Полный календарный план выполнения работ, по&nbsp;которому можно точно сказать, когда строительство начнется, и&nbsp;когда завершится`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`02`, `Генеральный строительный план`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`03`, `Технологические и&nbsp;организационные схемы работ на&nbsp;строительной площадке`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`04`, `Ведомости и&nbsp;акты, в&nbsp;которых отражена информация о&nbsp;количестве привлеченной специализированной техники (с&nbsp;обоснованием необходимости ее&nbsp;использования)`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`05`, `Графики поставки отдельных видов строительных машин и&nbsp;оборудования`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`06`, `Пояснительная записка`).--blue
			p Команда наших проектировщиков включает опытных специалистов, имеющих необходимые сертификаты, своевременно проходящих курсы повышения квалификации. Имеем огромный опыт подготовки проектов организации строительства для объектов разных масштабов. Готовы в&nbsp;оптимальный срок создать раздел ПОС любого уровня сложности.
	// end sInformation

mixin sInformation14()
	// start sInformation
	+b.SECTION.sInformation.section#sInformation&attributes(attributes)
		.container
			+b.section-title
				h2 Также, разработаем ППР для ОАТИ, согласно 284&nbsp;пп от&nbsp;19.05.2015
			p Все проекты производства работ разрабатываются с&nbsp;соблюдением требований Постановления Правительства от&nbsp;19.05.2015г. &#8470;&nbsp;284-ПП, Постановления Правительства Москвы от&nbsp;07&nbsp;декабря 2004&nbsp;г. &#8470;&nbsp;857-ПП, Постановления Правительства от&nbsp;19.05.2015г. &#8470;&nbsp;299-ПП СП&nbsp;48.13330.2011 &laquo;Организация строительства. Актуализированная редакция СНиП 12-01-2004&raquo; и&nbsp;др. действующих норм и&nbsp;правил.
			.strong Доверяйте разработку ППР компетентными проектировщикам из&nbsp;Вашего региона
			p По&nbsp;регламенту процесс подготовки возведения сооружений, зданий, их&nbsp;конструкционных частей должен проходить на&nbsp;основе утвержденной проектно-технологической документации, разработанной лицензированным учреждением. Разработка ППР необходима при выполнении всех строительно-монтажных работ.
			p Инженеры-проектировщики &laquo;С-Проджект&raquo; разрабатывают ППР (проекты производства работ) с&nbsp;целью улучшения качества, безопасности предстоящих работ в&nbsp;области промышленного, коммунального или коммерческого строительства. Работаем с&nbsp;подрядчиками, частными заказчиками, ремонтными фирмами Москвы, российских регионов. Заказать изготовление ППР быстро, достаточно лишь позвонить по&nbsp;номеру 8(495)971-3-971
			.strong Порядок разработки Проекта производства работ предусматривает:
			.row
				.col-md-6.col-lg-4.col-xl-3
					+sInformationItem(`01`, `Разработка локального СГП с&nbsp;определением границ стройплощадки`).--blue
				.col-md-6.col-lg-4.col-xl-6
					+sInformationItem(`02`, `Календарное планирование`).--blue
						ul
							li График доставки стройматериалов
							li Метод работы строителей (посменный или вахтовый)
							li Очередность именения спецтехники, транспорт
				.col-md-6.col-lg-4.col-xl-3
					+sInformationItem(`03`, `Формирование технологических карт, описывающих процедуру выполнения работы по&nbsp;видам`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`04`, `Фиксирование количества оборудования, инвентаря, оснастки`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`05`, `Планирование подведения систем водоснабжения, электропитания, временных коммуникаций`).--blue
				.col-md-6.col-lg-4
					+sInformationItem(`06`, `Обеспечение пожаробезопасных условий, охраны труда`).--blue
			p Создавая проект производства работ, специалисты учитывают условия, специфику и&nbsp;типы предстоящих мероприятий, действующие методические рекомендации. Мы&nbsp;поможем Вам сделать ППР корректно, быстро и&nbsp;по&nbsp;адекватной цене.
	// end sInformation14

mixin sInformationGoals()
	// start sInformation--goals
	+b.SECTION.sInformation.sInformation--goals.section#sInformation&attributes(attributes)
		+e.wrapper
		.container
			+b.section-title
				h2 Основные цели и&nbsp;задачи проекта организации строительства ПОС
			p Разработка проектной документации начинается задолго до&nbsp;того, как первый экскаватор на&nbsp;земельном участке начнет готовить котлован под фундамент будущего здания. Разработка ПОС начинается с&nbsp;подготовки техническо-экономического обоснования: определения необходимых капитальных вложений, выявления ключевых потребностей строительной площадки в&nbsp;ресурсах.
			.strong Наличие грамотного ПОС дает возможность:
			.row
				.col-md-6.col-lg-3
					+sInfoItem(1, `Свести к&nbsp;минимуму стоимость всех строительных работ`)
				.col-md-6.col-lg-3
					+sInfoItem(2, `Сократить сроки возведения, реконструкции или ремонта объекта`)
				.col-md-6.col-lg-3
					+sInfoItem(3, `Повысить эффективность и&nbsp;качество выполняемых работ`)
				.col-md-6.col-lg-3
					+sInfoItem(4, `Добиться высокой производительности труда`)
			p Именно проектирование позволяет своевременно завершать строительные работы и&nbsp;вводить объект в&nbsp;эксплуатацию в&nbsp;установленные сроки. При этом Проект организации строительства (ПОС) обеспечивает минимизацию трудовых затрат, экономию материальных, энергетических ресурсов. И&nbsp;все это&nbsp;&mdash; без потери качества строительства.
			.strong Все изложенные факторы определяют основные цели проекта организации строительства:
			.row
				.col-md-6.col-xl-5
					+sInformationItem(`01`, `Обеспечить качество инфраструктуры на&nbsp;строительной площадке`)
				.col-md-6.col-xl-7
					+sInformationItem(`02`, `Определить последовательность реализации строительных задач, обеспечить календарное планирование работ на&nbsp;каждом из&nbsp;этапов`)
				.col-md-6.col-xl-7
					+sInformationItem(`03`, `Установить основные источники снабжения площадки конструкциями и&nbsp;строительными материалами, запланировать наиболее подходящие варианты их&nbsp;доставки`)
				.col-md-6.col-xl-5
					+sInformationItem(`04`, `Определить, какая специализированная техника будет использоваться на&nbsp;площадке. Согласовать ее&nbsp;количественный состав`)
				.col-md-6.col-xl-4
					+sInformationItem(`05`, `Установить категорию, количество и&nbsp;состав рабочих бригад`)
				.col-md-6.col-xl-3
					+sInformationItem(`06`, `Решить проблемы рекультивации стройплощадки`)
				.col-12.col-xl-5
					+sInformationItem(`07`, `Разработать план экологических мероприятий, которые помогут максимально сохранить природную среду в&nbsp;процессе техногенного вмешательства`)
				
	// end sInformation--goals
mixin sInformationGoals14()
	// start sInformation--goals
	+b.SECTION.sInformation.sInformation--goals.sInformation--ppr.section#sInformation&attributes(attributes)
		+e.wrapper
		.container
			+b.section-title
				h2 Особенности разработки ППР
			p Для качественной разработки технологической документации мы&nbsp;проводим:
			.row
				.col-md-6.col-lg-4
					+sInfoItem(1, `Внедрение инновационных инструментов механизации, позволяющих улучшить качество монтажа, ремонта, реконструкции или строительства`)
				.col-md-6.col-lg-4
					+sInfoItem(2, `Исследование, выбор актуальных технологических решений касаемо строительных мероприятий`)
				.col-md-6.col-lg-4
					+sInfoItem(3, `Сокращение себестоимости, продолжительности будущего монтажного, иного процесса`)
			p Готовые расчеты, схемы и&nbsp;планы дадут возможность заказчику рационально обустроить стройплощадку, исключить перерасход расходных, основных материалов, спрогнозировать возможные риски, определить срок, порядок реализации проекта, составить бюджет, обеспечить безопасность работников на&nbsp;объекте.
			p Стоимость разработки, согласования ППР определяет уровень сложности проводимых работ, наличие полноценного пакета исходных документов, срочность заказа (от&nbsp;пары дней и&nbsp;больше).
			p Звоните, профессионально разработаем проект производства работ любой степени сложности, отвечающий нормам СНиП, СП, МДС, актуальным требованиям и&nbsp;стандартам&nbsp;РФ, по&nbsp;выгодной цене. Также, Вы&nbsp;можете узнать, что нужно, чтобы составить ППР.
			.strong Посмотрите видео, чтобы определиться с&nbsp;разработчиком Вашего ППР
			+e.video
				<iframe width="560" height="315" src="https://www.youtube.com/embed/NM25f517Qhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			.example
				p Некоторые из&nbsp;многочисленных примеров, полученных нами только положительных заключений ГУП г. Москвы &laquo;УРСТ&raquo; (ГУП &laquo;Крснопресненский РСТ&raquo;)
				a(href='//google.com') ПОДРОБНЕЕ
	// end sInformation--goals