mixin s-cases()
	// start s-cases
	+b.s-cases&attributes(attributes)
		.container
			block
			.row
				mixin item(i,t)
					+e.col.col-sm-6
						+e.item.bg-wrap(href="#")
							+pic(`case-` + i,'bg')(class="picture-bg")
							+e.title= t
					// /+e.col.col-sm-6
				+item("1",'Разработка ППР на объекте "14-й корпус Кремля"')
				+item("2",'Разработка ППР на объекте "Триумфальная Арка"')
				+item("3",'План производства работ на монтаж слаботочных систем по объекту: «МАЛАЯ')
				+item("4",'Разработка ППР для Кремлевской школы верховой езды')
			a.link-more(href="#")  Смотреть все работы
				+icon("arrow-right")
	// end s-cases