mixin s-our-works()
	// start s-our-works
	+b.s-our-works.section#s-our-works&attributes(attributes)
		.container
			.row
				mixin item(i,  p)
					+e.col.col-sm-6
						+e.item.bg-wrap(href="#")
							+pic(`works-` + i,'bg')(class="picture-bg")
							+e.title= p

				+item('1','Разработка ППР на объекте "Московский Кремль"')
				+item('2','Разработка ППР на объекте "Триумфальная Арка"')
				+item('3','Проект организации строительства III этап по мотокроссу')
				+item('4','Разработка ППР для Кремлевской школы верховой езды')
				+item('1','Разработка ППР на объекте "Московский Кремль"')
				+item('2','Разработка ППР на объекте "Триумфальная Арка"')
				+item('3','Проект организации строительства III этап по мотокроссу')
				+item('4','Разработка ППР для Кремлевской школы верховой езды')
				+item('1','Разработка ППР на объекте "Московский Кремль"')
				+item('2','Разработка ППР на объекте "Триумфальная Арка"')

				+pugin()

	// end s-our-works