mixin sOrderForm()
	// start sOrderForm
	+b.SECTION.sOrderForm.section#sOrderForm&attributes(attributes)
		.container
			+b.section-title
				h2 Закажите разработку&nbsp;ПОС
				p Оставьте заявку, чтобы наши специалисты рассчитали для вас цену и&nbsp;сроки разработки документов, а&nbsp;также проконсультировали по&nbsp;всем вопросам.
			+form-wrap
				+e.title Бесплатная консультация
				+e.subtitle Перезвоним через 5&nbsp;минут
				.row
					.col-lg
						+input("ФИО")
					.col-lg
						+input("Телефон",'tel')
					.col-lg.col-xl-auto
						button.btn-green Получить консультацию
				+policy2 
	// end sOrderForm