mixin s-questions()
	// start s-questions
	+b.s-questions.section#s-questions&attributes(attributes)
		.container
			h3 Задайте свой вопрос
			+form-wrap
				+e.inner
					.row
						.col-lg-4
							+input(null,'text','Ф. И. О.:')
						
						.col-lg-4
							+input(null,'tel','телефон')
						
						.col-lg-4
							+input(null,'email','Email')
					+input(null,'textarea','Сообщение:')
					+e.INPUT.btn(type="submit" value="отправить")
	// end s-questions