mixin sPrice(title)
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		.container
			+b.section-title
				h2!= title
			if block
				block
			else
				p Стоимость разработки ППР в&nbsp;нашей компании выгодно отличается от&nbsp;других организаций. Это связано с&nbsp;тем, что все Проекты производства работ (ППР) разрабатываются штатными сотрудниками компании, за&nbsp;почти 10&nbsp;лет работы накоплен огромный опыт, разработаны собственные схемы и&nbsp;технологии производства работ, это также существенно сокращает сроки разработки ППР.
				p Экспертиза ППР (по&nbsp;желанию Заказчика) в&nbsp;ГУП г. Москвы УРСТ, согласно Распоряжению &#8470;&nbsp;59&nbsp;Правительства Москвы занимает 10&nbsp;рабочих дней с&nbsp;момента оплаты счёта за&nbsp;рассмотрение ППР.
				p Заказать быстрое и&nbsp;выгодное Составление и&nbsp;изготовление ППР в&nbsp;компании &laquo;С-Проджект&raquo;.
	// end sPrice