.s-form {
	padding: rem(30) 0;
	position: relative;
	z-index: 2;
	background-color: $blue;
	background-image: $blue-gradient;

	&::before {
		content: '';
		height: 100%;
		left: 50%;
		width: 70%;
		background-image: $green-gradient;
		z-index: -1;
		top: 0;
		transform: skewX(10deg);
		position: absolute;
	}

	.container {
		position: relative;

		&::after,
		&::before {
			position: absolute;
			right: 0;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
			pointer-events: none;
		}

		&::after {
			width: calc(183px * .7);
			height: calc(239px * .7);
			top: rem(80);
			right: rem(-45);
		}

		&::before {
			width: calc(183px * .76);
			height: calc(239px * .76);
			top: rem(160);
			right: rem(-165);
		}
	}


	&.lazy-background {
		.container {

			&::after,
			&::before {
				content: '';
				background-image: url(../img/@2x/form-img-right.png);
			}
		}

		.form-wrap {

			&::before {
				content: url(../img/@2x/form-img-left.png);
			}

			&::after {
				content: url(../img/@2x/form-img-right.png);
			}
		}
	}

	.form-wrap {
		position: relative;

		&::before {
			position: absolute;

			@include media-breakpoint-up(lg) {

				bottom: rem(-100);
				left: -40%;
			}

			bottom: rem(-140);
			left: -400px;

			@include media-breakpoint-up(xl) {

				left: rem(-330);
			}

			pointer-events: none;

		}

		&::after {
			position: absolute;

			@include media-breakpoint-up(lg) {

				bottom: rem(-75);
				right: -8%;
			}

			right: rem(-100);
			bottom: rem(-105);
			pointer-events: none;

			@include media-breakpoint-up(xl) {

				right: rem(-40);
			}

		}
	}

	//
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}