mixin s-development()
	// start s-development
	+b.SECTION.s-development.section#s-development&attributes(attributes)
		p Установка грузоподъемных машин, организация и&nbsp;выполнение строительно-монтажных работ с&nbsp;их&nbsp;применением осуществляются в&nbsp;соответствии со&nbsp;специально разработанным для этих целей проектом производства работ грузоподъемными кранами (ППРк)
		p Погрузочно-разгрузочные работы и&nbsp;складирование грузов кранами и&nbsp;кранами-манипуляторами на&nbsp;базах, складах, площадках выполняются по&nbsp;технологическим картам погрузочно-разгрузочных работ (ТК&nbsp;п/р работ)
		p Организациям, выполняющим крановые работы, необходимо иметь разработанные проекты- ППРк. Это правило законодательно регламентируется федеральными нормами промышленной безопасности. Если ваше предприятие владеет подъемным сооружением либо грузоподъемной машиной&nbsp;&mdash; вам будет интересна наша услуга по&nbsp;разработке проекта производства работ краном (ППРк).
		p Наша компания специализируется на&nbsp;проектировании по&nbsp;этому направлению работ и&nbsp;обладает всем необходимым для создания грамотных проектов:
		ul
			li опытные сотрудники с&nbsp;высшим образованием, аттестованные по&nbsp;промышленной 
			li безопасности;
			li свидетельство СРО на&nbsp;проектные работы;
			li много реализованных разработок с&nbsp;применением башенных, автомобильных кранов и&nbsp;других подъемников, и&nbsp;погрузчиков, грузоподъемных механизмов.

		h3 Какими бывают ППР на работу крана:
		p В&nbsp;зависимости от&nbsp;того, с&nbsp;помощью какого грузоподъемного механизма&nbsp;Вы выполняете работы, ППРк могут быть следующих видов:
		ul
			li
				a(href="#") ППРк на автомобильный кран
			li 
				a(href="#") ППРк на башенный кран

		h4 Исходные данные для ППРк:
		ol
			li Проектная документация (ПОС, Стройгенплан Объекта, рабочая документация, в&nbsp;том числе планы и&nbsp;разрезу по&nbsp;зданию, сведения о&nbsp;грузоподъемных механизмах).
			li Документы от&nbsp;организации&nbsp;&mdash; исполнителя крановых работ (свидетельство ОГРН, допуск СРО, удостоверение об&nbsp;аттестации в&nbsp;Ростехнадзоре).
			li От&nbsp;организации&nbsp;&mdash; владельца крана (свидетельство ОГРН, свидетельство о&nbsp;регистрации техники в&nbsp;госреестре, удостоверение главного механика по&nbsp;кранам).

	// end s-development