mixin sOrderWork()
	// start sOrderWork
	+b.SECTION.sOrderWork.section#sOrderWork&attributes(attributes)
		.container
			+b.section-title
				h2 Порядок работы с клиентами
			mixin item(title, text, btn)
				+e.item
					+e.title!= title
					if text
						p!= text
					if btn
						+e.btn.btn.btn-outline-secondary(href='#')!= btn
			+e.row.row
				.col-md-6.col-lg-4: +item('Заявка через сайт, офис или по телефону', 'Вы взаимодействуете не с менеджером, а с компетентным инженером', 'Отправить заявку')
				.col-md-6.col-lg-4: +item('Главный инженер оценивает объем ППР (ППРк)', 'Он определяет вид работ и сложность разработки', 'Смотреть документы')
				.col-md-6.col-lg-4: +item('Разбор и подробный анализ ваших данных', 'Мы анализируем ваши исходные данных, и только потом делаем выезд на объект')
				.col-md-6.col-lg-4: +item('При необходимости задействуем штатных специалистов', 'по ОДД, ПОС, обследованию')
				.col-md-6.col-lg-4: +item('КП с объемами работ, составом ППР', 'перечнем необходимых исходных данных и точными сроками проектирования')
				.col-md-6.col-lg-4: +item('Готовим договор и техническое задание', 'Начало разработки ППР')
				.col-12: +item('Завершение', 'Главный инженер проверяет проект на соответствие исходным данным, технике безопасности, нормам проектирования.')
	// end sOrderWork