 .soc {
 	margin: 0 rem(-5px) rem(25);
 	display: flex;

 	&__item {
 		text-decoration: none !important;
 		margin: 0 rem(5px);
 		vertical-align: middle;
 		width: rem(30px);
 		height: rem(30px);
 		border-radius: 7px;
 		background-color: #ffffff;
 		@include mt;
 		display: block;
 		text-align: center;
 		display: flex;
 		align-items: center;
 		justify-content: center;

 		&:hover {
 			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
 			opacity: .6;
 		}

 	}

 	.icon {
 		font-size: rem(15);
 	}


 }


 .counter {
 	counter-reset: num;

 	&__item {
 		position: relative;

 		&::before {
 			content: counter(num);
 			counter-increment: num;

 		}
 	}
 }


 .page-head {
 	padding-top: rem(57);

 	// padding-bottom: rem(60);
 	&__title {
 		text-align: center;

 		h1 {
 			display: inline-block;
 			position: relative;
 			padding-left: rem(20);
 			padding-right: rem(20);
 			font-weight: bold;
 			max-width: rem(1000);

 			&::before,
 			&::after {
 				content: '';
 				top: rem(21);
 				width: em(30);
 				height: em(2);
 				border-radius: rem(3px);
 				position: absolute;
 			}

 			&::before {
 				right: 100%;
 				background-color: $blue;
 			}

 			&::after {
 				left: 100%;
 				background-color: $primary;
 			}
 		}
 	}
 }

 .section-border-bottom {
	 border-bottom: 1px #e5e5e5 solid;
 }