 .soc {
 	margin: 0 rem(-5px) rem(25);
 	display: flex;

 	&__item {
 		text-decoration: none !important;
 		margin: 0 rem(5px);
 		vertical-align: middle;
 		width: rem(30px);
 		height: rem(30px);
 		border-radius: 7px;
 		background-color: #ffffff;
 		@include mt;
 		display: block;
 		text-align: center;
 		display: flex;
 		align-items: center;
 		justify-content: center;

 		&:hover {
 			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
 			opacity: .6;
 		}

 	}

 	.icon {
 		font-size: rem(15);
 	}


 }


 .counter {
 	counter-reset: num;

 	&__item {
 		position: relative;

 		&::before {
 			content: counter(num);
 			counter-increment: num;

 		}
 	}
 }



 .page-head {
 	padding-top: rem(17);

 	// padding-bottom: rem(60);
 	&__title {
 		text-align: center;

 		h1 {
 			display: inline-block;
 			position: relative;
 			padding-left: rem(20);
 			padding-right: rem(20);
 			font-weight: bold;
 			max-width: rem(1000);

 			&::before,
 			&::after {
 				content: '';
 				top: rem(21);
 				width: em(30);
 				height: em(2);
 				border-radius: rem(3px);
 				position: absolute;
 			}

 			&::before {
 				right: 100%;
 				background-color: $blue;
 			}

 			&::after {
 				left: 100%;
 				background-color: $primary;
 			}
 		}
 	}

	 &__block{
		 position: relative;
		 padding-top: rem(30);
		 color: #fff;
		 margin-bottom: 55px;
		 h1{
			 color: #fff;
			 font-weight: normal;
			 @include rfs(60px);
			}
		}
		&__sub-text{
			color: #fff;
			@include rfs(20px);
			margin-bottom: 40px;
	 }
	 &__bg{
		 position: absolute;
		 right: 0;
		 top: 0;
		 height: 100%;
		 z-index: -1;
		 width: calc(100% + (100vw - 150%));
		 overflow: hidden;
		 border-radius: 0 0 1000px 0;
		 img{
			 position: absolute;
			 right: 0;
			 top: 0;
			 width: 100%;
			 height: 100%;
			 object-fit: cover;
		 }
		 &::after{
			 content: '';
			 position: absolute;
			//  @include a-cent;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			 background: linear-gradient(180deg, #52A7D8 0%, #3B8AB8 100%);
			 opacity: 0.8;
		 }

		}
		.row{
			--bs-gutter-x: 10px;
		}
		&__item{
			background: #FFFFFF;
			box-shadow: 0px 8px 15px rgba(19, 21, 26, 0.1);
			border-radius: 8px;
			padding: rem(15);
			padding-left: rem(55);
			color: #000000;
			position: relative;
			&::before{
				content: url(../img/svg/check.svg);
				left: rem(15);
				top: rem(15);
				position: absolute;
			}
			&-title{
				color: #5D646C;
				font-size: 12px;
				line-height: (14 / 12);
			}
			&-text{
				font-weight: 600;
			}
			margin-bottom: rem(-30);
		}


		&__btn{
			height: rem(75);
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: rem(370);
			margin-bottom: rem(40);
			.icon{
				font-size: 24px;
				margin-right: rem(15);
			}
		}
		h2{
			@include rfs(48px);
			font-weight: bold;
			line-height: 115%;
		}
		p{
			font-size: rem(20);
			color: rgba(#000, .8);
		}
 }

 .section-border-bottom {
	 border-bottom: 1px #e5e5e5 solid;
 }