mixin sHowWork()
	// start sHowWork
	+b.SECTION.sHowWork.section#sHowWork&attributes(attributes)
		.container(style="--after: url(../img/listhand.png)")
			+b.section-title
				h2 Как разрабатывается проект организации строительства?
				p Для того, чтобы приступить к разработке ПОС, нам необходимо получить от заказчика базовую информацию об объекте:
			div
				mixin item(t,p)
					+e.item.white-panel
						+e.inner
							h3!= t
							p!= p
				+item(`Результаты завершенных инженерных изысканий`,`Если речь идет о&nbsp;реконструкции или ремонте. В&nbsp;этом случае информация о&nbsp;техническом обследовании объекта играет ключевую роль в&nbsp;проектировании&nbsp;ОС.`)
				+item(`Задание на проектирование`,`В&nbsp;этом пакете документов присутствует вся исходная информация, имеющая отношение к&nbsp;процессу будущего строительства. Сюда входит сметная и&nbsp;разрешительная документация, инженерные пояснения по&nbsp;объему работ, этажности здания и&nbsp;пр., данные о&nbsp;специфике подключения инженерных коммуникаций, план строительной площадки и&nbsp;многое другое.`)
	// end sHowWork       