mixin sListOfJobsItem(i,t)
	+e.item
		+img(`sListOfJobs-${i}.jpg`)
		+e.title!= t
		a.btn.btn-outline-light.btn-animate(href='#')= 'ПОДРОБНЕЕ'
mixin sListOfJobs()
	// start sListOfJobs
	+b.SECTION.sListOfJobs.section#sListOfJobs&attributes(attributes)
		+e.wrapper
			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			.container
				+b.section-title
					h2 Чтобы просмотреть список разрабатываемых ППР (на&nbsp;любой вид работ), нажмите на&nbsp;наименование ППР:
				+input('Поиск услуги','text','')
				.row
					.col.col-3
						+sListOfJobsItem('1','Разработка ППР на <span>высоте</span>')
					.col.col-3
						+sListOfJobsItem('2','Разработка ППР на <span>благоустройство территории</span>')
					.col.col-3
						+sListOfJobsItem('3','Разработка ППР на <span>&nbsp;забивку свай, на&nbsp;буронабивные сваи</span>')
					.col.col-3
						+sListOfJobsItem('4','Разработка ППР на <span>монтаж металлоконструкций</span>')
					.col.col-6
						+sListOfJobsItem('5','Разработка ППР на&nbsp;наружные или внутренние инженерные сети (коммуникации)')
					.col.col-3
						+sListOfJobsItem('6','Разработка ППР на <span>шпунт</span>')
					.col.col-3
						+sListOfJobsItem('7','Разработка ППР на <span>фундамент</span>')
					.col.col-3
						+sListOfJobsItem('8','Разработка ППР на <span>бетонные работы</span>')
					.col.col-3
						+sListOfJobsItem('9','Разработка ППР на <span>фасады, фасадные работы</span>')
					.col.col-3
						+sListOfJobsItem('10','Разработка ППР на <span>кровлю, ремонт кровли</span>')
					.col.col-3
						+sListOfJobsItem('11','Разработка ППР на <span>кранами</span>')
					.col.col-3
						+sListOfJobsItem('12','Разработка ППР на <span>подготовительный период</span>')
					.col.col-3
						+sListOfJobsItem('13','Разработка ППР на <span>строительсво</span>')
					.col.col-6
						+sListOfJobsItem('14','Разработка ППР на <span>монтажные работы</span> (любой вид строительно-монтажных работ)')
					.col.col-3
						+sListOfJobsItem('15','Разработка ППР на <span>отделочные работы</span>')
					.col.col-3
						+sListOfJobsItem('16','Разработка ППР на <span>подъемник фасадный</span>')
					.col.col-3
						+sListOfJobsItem('17','Разработка ППР на устройство бытового городка')
					.col.col-3
						+sListOfJobsItem('16','Разработка ППР на <span>подъемник фасадный</span>')

	// end sListOfJobs

