mixin s-inner-work()
	// start s-inner-work
	+b.s-inner-work.section#s-inner-work&attributes(attributes)
		.container
			+e.img-wrap.bg-wrap
				+pic('inner-work-1.jpg','bg')
			+e.img-wrap.bg-wrap
				+pic('inner-work-2.jpg','bg')
			h3 Москва. Комплекс зданий и сооружений по адресу: г. Москва, Красная площадь, д. 5
			ol
				li Проект производства работ (ППР) на монтаж металлоконструкций кровли (шатры Ш1-Ш10).
				li Проект производства работ (ППР) на металлоконструкции при монтаже колонн.
			p В течении 8 дней была выполнена качественная разработка ППР , проведено согласование проекта производства работ со всеми заинтересованными службами и организациями, согласование ППР с Заказчиком. Выполнено 3 выезда на объект
	// end s-inner-work