mixin header-block()
	// start header-block
	+b.header-block
		.row
			+e.block--left.col-sm-6
				+e.img-wrap
					img.active.object-fit-js(src="img/@2x/head-1-active.jpg", alt="")
					img.object-fit-js(src="img/@2x/head-1.jpg", alt="")
				+e.text Использование современных технологий и методов работы повышают эффективность процессов и качество результатов
				+e.title Организация строительства
			+e.center
				+e.center-inner
					.lg 13 
					| лет успешной работы
			+e.block--right.col-sm-6
				+e.block-inner
					+e.img-wrap
						img.active.object-fit-js(src="img/@2x/head-2-active.jpg", alt="")
						img.object-fit-js(src="img/@2x/head-2.jpg", alt="")
				+e.title  Организация дорожного движения
				+e.text Обширный опыт работы в разных областях позволяет нам предлагать экспертное мнение и наиболее эффективные решения для каждого проекта.
	// end header-block