mixin sExperts()
	// start sExperts
	+b.SECTION.sExperts.section#sExperts&attributes(attributes)
		.container
			+b.section-title
				h2 Мы&nbsp;&mdash; эксперты в&nbsp;разработке ППРк
			p Наша компания специализируется на&nbsp;проектировании по&nbsp;этому направлению работ и&nbsp;обладает всем необходимым для создания грамотных проектов.
			.row
				.col-md-6.col-lg-4
					+sInfoItem(1, `Много реализованных разработок с&nbsp;применением башенных, автомобильных кранов и&nbsp;других подъемников, и&nbsp;погрузчиков, грузоподъемных механизмов`)
				.col-md-6.col-lg-4
					+sInfoItem(4, `Опытные сотрудники с&nbsp;высшим образованием, аттестованные по&nbsp;промышленной безопасности`)
				.col-md-6.col-lg-4
					+sInfoItem(2, `Свидетельство СРО на&nbsp;проектные работы`)
			p Наличие ППРк обязательно для всех операций и&nbsp;монтажных работ кранами, которые являются особо опасными объектами. Без этого крановые работы на&nbsp;строительных площадках запрещены, поскольку подвергают опасности рабочий персонал. За&nbsp;нарушения предусмотрены штрафы. Подбор грузоподъемного механизма обязателен перед началом работ, и&nbsp;это отражается в&nbsp;составе ППР на&nbsp;работу кранами.
			p Разработанный ППРк (Проект производства работ кранами) согласовывается с&nbsp;владельцем грузоподъемной машины, осуществляющим надзор, руководителем организации, разработавшей ППРк, и&nbsp;утверждается руководителем генподрядной строительно-монтажной организации (заказчиком).
			+sListOfJobsSlider()
				+e.slide.swiper-slide
					+sListOfJobsItem('19','Разрабокта ППРк и&nbsp;ППР на&nbsp;<span>автомобильный кран</span> с&nbsp;СРО и&nbsp;удостоверениями ППРк')
				+e.slide.swiper-slide
					+sListOfJobsItem('20','Разработка ППРк на&nbsp;башенный кран аттестованными специалистами с&nbsp;удостоверениями ППРк')
				+e.slide.swiper-slide
					+sListOfJobsItem('21','Разработка ППР на <span>сваи, на забивку свай, на буронабивные сваи</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('22','ППР на <span>грузоподъемные работы</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('23','Разработка ППР на&nbsp;<span>башенные краны</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('24','Разработка ППР на&nbsp;<span>козловой кран</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('25','Разработка ППР на&nbsp;<span>кран-балку</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('26','Разработка ППР на&nbsp;<span>работу автокрана</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('27','Разработка ППР на&nbsp;<span>погрузочные работы</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('28','Разработка ППР на&nbsp;<span>работу с&nbsp;автовышки</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('29','Разработка ППР на&nbsp;<span>работы с&nbsp;ПС</span>')
				+e.slide.swiper-slide
					+sListOfJobsItem('30','Разработка ППР на&nbsp;<span>разгрузочные работы</span>')
			p Лица, согласовывающие и&nbsp;утверждающие ППРк (ППР на&nbsp;кран), аттестовываются в&nbsp;области промышленной безопасности опасных производственных объектов и&nbsp;в&nbsp;объеме требований соответствующих Правил. При выполнении работ кранами вблизи ЛЭП (ближе 30&nbsp;м) необходимо согласование ППРк (Проект производства работ кранами) с&nbsp;владельцем ЛЭП.
			p В&nbsp;зависимости от&nbsp;объема работ и&nbsp;технологических возможностей ППРк (Проект производства работ кранами) разрабатывается на&nbsp;возведение всего здания в&nbsp;целом (надземная и&nbsp;подземная части) или поэтапно, в&nbsp;зависимости от&nbsp;задействованных грузоподъемных кранов, очередности производства работ и&nbsp;сроков.


				
			.row
	// end sExperts