mixin s-content()
	// start s-content
	+b.s-content--main&attributes(attributes) 
		h3 Разработка ППР (на&nbsp;любые виды работ!)  оперативно от&nbsp;2-х дней, в&nbsp;том числе:

		p 
			a(href="#") Разработка ППР на подготовительный период
			br
			a(href="#") Разработка ППР на земляные работы
			br
			a(href="#") Проект организации работ (ПОР)
			br
			a(href="#") Разработка ППР на монолитные работы
		br
		h3 Составление ППР на отдельные виды работ
	 
		p #[strong Инженеры Проектного бюро ООО С-Проджект разработали ППР для строительных работ на объектах Государственных организаций:]
		ol 
			li
				span 1.
				i ФГУК ГКД Управления Делами Пезидента РФ 
				| . Разработка ППР на реконструкцию кровли.
			li
				span 2.
				i Объекты Кавалерийского почётного эскорта Президентского полка СКМК ФСО России
				| . Разработка ППР на монтажные работы.
			li
				span 3.
				i ФГУП "ТТЦ "Останкино"
				| . Разработка ППР на снос.
			li
				span 4.
				i МИД РФ
				| . Разработка ППР на демонтаж, демонтажные работы.
			li
				span 5.
				i ФГУ ФИПС (РОСПАТЕНТ)
				| . Разработка ППР на капитальный ремонт конференц-зала с заменой инженерных коммуникаций.
			li
				span 6.
				i ОАО РЖД
				| . Административное здание:
				ul
					li проект производства работ на бетонные работы;
					li проект производства работ на монтаж металлоконструкций;
					li проект производства работ на кровлю;
					li проект производства работ на отделочные работы;
					li проект производства работ на устройство стен и перегородок.
			li
				span 7.
				i Здание Госкорпорации "РОСАТОМ"
				| . Разработка ППР на бетонные работы.
			li
				span 8.
				i ЦОВБ МВД РОССИИ
				| . Разработка ППР на фасадные работы. Разработка ППР на установку лесов.
			li
				span 9.
				i УФНС РФ 
				| . Разработка ППР на бетонные работы. Разработка ППР на земляные работы.
			li
				span 10.
				i ОАО "Мосэнерго". ТЭЦ-11 им. М.Я. Уфаева
				| . Разработка ППР на кровельные работы.
			li
				span 11.
				i Балаковская АЭС.
				|  Разработка ППР на перепланировку помещений.
			li
				span 12.
				i ОАО Воронежская ТЭЦ-2.
				|  Разработка ППР на монолитные работы под основание паротурбинной установки.
			li
				span 13.
				i Взрывотехническая лаборатория УВД по Ивановской области
				| . Разработка ППР на строительство
	//- +e.btn.btn-toggle-js(type="button") Показать
	// end s-content