.s-content {
	padding-top: rem(75);

	p,
	li {
		line-height: 1.67;
	}

	li {
		margin-bottom: rem(10);
	}

	li li {
		margin-left: rem(15);
	}

	&--main {}

	//
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

.col-lg-6 {
	.s-content--main {
		max-height: 690px;
		position: relative;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: rem(50);
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		}

		+.btn-toggle-js {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-accent;
			margin-left: auto;
			margin-right: auto;
			width: rem(160);
			display: block;
		}

	}
}