mixin s-content()
	// start s-content
	+b.s-content--main&attributes(attributes) 
		h3 Разработка ППР (на&nbsp;любые виды работ!)  оперативно от&nbsp;2-х дней, в&nbsp;том числе:

		p 
			a(href="#") Разработка ППР на подготовительный период
			br
			a(href="#") Разработка ППР на земляные работы
			br
			a(href="#") Проект организации работ (ПОР)
			br
			a(href="#") Разработка ППР на монолитные работы
		br
		h3 Составление ППР на отдельные виды работ
	 
		p #[strong Инженеры Проектного бюро ООО С-Проджект разработали ППР для строительных работ на объектах Государственных организаций:]
		ol
			li ФГУК ГКД Управления Делами Пезидента РФ. Разработка ППР на реконструкцию кровли.
			li Объекты Кавалерийского почётного эскорта Президентского полка СКМК ФСО России. Разработка ППР на 	монтажные работы.
			li ФГУП "ТТЦ "Останкино". Разработка ППР на снос.
			li МИД РФ. Разработка ППР на демонтаж, демонтажные работы.
			li ФГУ ФИПС (РОСПАТЕНТ). Разработка ППР на капитальный ремонт конференц-зала с заменой инженерных 	коммуникаций.
			li ОАО РЖД. Административное здание: 
	// end s-content