mixin sMap()
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Проекты на карте
		+e.map-wrap
			
			+e.map#map
			<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c"></script>
			script(type="text/javascript"). 
				ymaps.ready(init);
				function init () {
					var center = [55.75380038320217,37.62071970898438];
					var myMap = new ymaps.Map('map', {
							center: center,
							zoom: 10,
							controls: ['zoomControl']
					});
				};
	// end sMap