mixin s-our-news()
	// start s-our-news
	+b.s-our-news.section#s-our-news&attributes(attributes)
		+news-item("12.11.2019","Выполнена разработка ППР на строительство временных дорог, прокладку коммуникаций и согласование ППР с ГУП Мосгортранс","Компания С-Проджект выполнила комплекс работ по разработке Проекта производства работ- ППР на строительство временных дорог и восстановление...")
		+news-item("12.11.2019","Вступило в силу Постановление Правительства №284-ПП и №299-ПП","С 01 августа 2015г. вступили в силу Постановление Правительства №284-ПП от 19.05.2015 и Постановления Правительства №299-ПП от...")
		+news-item("12.11.2019","Выполнена разработка ППР на строительство временных дорог, прокладку коммуникаций и согласование ППР с ГУП Мосгортранс","Компания С-Проджект выполнила комплекс работ по разработке Проекта производства работ- ППР на строительство временных дорог и восстановление...")
		+news-item("12.11.2019","Вступило в силу Постановление Правительства №284-ПП и №299-ПП","С 01 августа 2015г. вступили в силу Постановление Правительства №284-ПП от 19.05.2015 и Постановления Правительства №299-ПП от...")
		+news-item("12.11.2019","Выполнена разработка ППР на строительство временных дорог, прокладку коммуникаций и согласование ППР с ГУП Мосгортранс","Компания С-Проджект выполнила комплекс работ по разработке Проекта производства работ- ППР на строительство временных дорог и восстановление...")
		+news-item("12.11.2019","Вступило в силу Постановление Правительства №284-ПП и №299-ПП","С 01 августа 2015г. вступили в силу Постановление Правительства №284-ПП от 19.05.2015 и Постановления Правительства №299-ПП от...")
		+news-item("12.11.2019","Выполнена разработка ППР на строительство временных дорог, прокладку коммуникаций и согласование ППР с ГУП Мосгортранс","Компания С-Проджект выполнила комплекс работ по разработке Проекта производства работ- ППР на строительство временных дорог и восстановление...")
		+news-item("12.11.2019","Вступило в силу Постановление Правительства №284-ПП и №299-ПП","С 01 августа 2015г. вступили в силу Постановление Правительства №284-ПП от 19.05.2015 и Постановления Правительства №299-ПП от...")
		+pugin()
	// end s-our-news