mixin sStages()
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		+e.wrapper
			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
		.container
			+b.section-title
				h2 Этапы разработки ППРк
			.row
				.col-md-6.col-lg-7
					+e.item
						+e.counter 01
						p С&nbsp;постоянными заказчиками мы&nbsp;работаем без предоплаты. Работа по&nbsp;разработке проекта производства работ кранами начинается с&nbsp;предоставления заказчиком необходимых исходных данных. После подробного анализа&nbsp;их, мы&nbsp;отправляем коммерческое предложение Заказчику и&nbsp;заключаем с&nbsp;ним договор, в&nbsp;котором указывается стоимость наших работ, срок и&nbsp;гарантии. После этого начинается работа по&nbsp;разработке ППРк с&nbsp;помощью автомобильного или башенного крана. Готовый проект оформляется на&nbsp;бумаге в 3-х экземплярах с&nbsp;приложением СРО, сертификата ППР и удостоверений разработчиков ППРк. Также, предоставляем электронную версию ппр на&nbsp;работу крана.
				.col-md-6.col-lg-5
					+e.item
						+e.counter 02
						p Если у&nbsp;заказчика возникают замечания по&nbsp;проекту, они оперативно устраняются и&nbsp;документ корректируется (совершенно бесплатно). Мы&nbsp;разрабатываем ППР на&nbsp;работу крана с&nbsp;бессрочной гарантией по&nbsp;прописанной в&nbsp;договоре информации. Это означает, что пока по&nbsp;этому проекту проводятся работы, мы&nbsp;бесплатно вносим в&nbsp;него дополнительные данные и&nbsp;правки.
				.col-md-6.col-lg-4
					+e.item
						+e.counter 03
						p Гарантия распространяется также на&nbsp;соответствие ппр на&nbsp;работу крана действующим нормативным документам и&nbsp;успешное прохождение всех проверок у&nbsp;контролирующих органов.
				.col-md-6.col-lg-4
					+e.item
						+e.counter 04
						p Изменения в&nbsp;ППРк (Проект производства работ кранами) имеет право вносить разработчик ППРк с&nbsp;согласия экспертной организации с&nbsp;росписью разработчика и&nbsp;эксперта.
				.col-md-6.col-lg-4
					+e.item
						+e.counter 05
						p До&nbsp;начала работ с&nbsp;ППРк ознакамливаются под роспись исполнители работ, находящиеся на&nbsp;строительной площадке (ответственные лица, стропальщики (монтажники), машинисты грузоподъемных кранов).
	// end sStages