mixin sAgreementItem(i,name)
	.col-12.col-sm-6.col-md-4.col-lg-3
		+b.agreed-item
			+e.img-wrap
				+img(`sAgreement-${i}.png`)
			+e.P.name!= name

mixin sAgreement()
	// start sAgreement
	+b.SECTION.sAgreement.--crane.section#sAgreement&attributes(attributes)
		.container
			+b.section-title
				h2 Мы&nbsp;оперативно согласуем проект организации дорожного движения&nbsp;с:
			+input('Поиск услуги','text','')
			.row
				+sAgreementItem('1','Департаментом транспорта&nbsp;Москвы')
				+sAgreementItem('2','Центр организации дорожного движения')
				+sAgreementItem('3','ГУП Мосгортранс')
				+sAgreementItem('4','ФСО России')
				+sAgreementItem('5','ГБУ Мосавтодор')
				+sAgreementItem('6','Федеральное дорожное агентство')
				+sAgreementItem('7','Органы местного управления')
				+sAgreementItem('8','ГИБДД')
			p При разработке проекта организации дорожного движения наши специалисты учитывают автомобильную обстановку вокруг стройплощадки или эксплуатируемого здания, плотность, интенсивность потока автотранспорта, прочие факторы, влияющие на&nbsp;организацию дорожного движения. При необходимости устанавливают дорожные знаки, проектируют автодороги, светофорные объекты, парковки, АСУДД или автостоянки.
			p.main Проект организации дорожного движения является неотъемлемой частью проектной документации на&nbsp;все виды работ, связанных с&nbsp;изменением движения автотранспорта и&nbsp;пешеходов, организации дорожного движения:
			.row
				.col.col-lg-6
					+sInformationItem(`01`, `Строительство и&nbsp;эксплуатация АЗС и&nbsp;других объектов автосервиса`).--blue
				.col.col-lg-3
					+sInformationItem(`02`, `Прокладка инженерных коммуникаций`).--blue
				.col.col-lg-3
					+sInformationItem(`03`, `Устройство автостоянок`).--blue
				.col.col-lg-4
					+sInformationItem(`04`, `Согласование с ГИБДД`).--blue
				.col.col-lg-8
					+sInformationItem(`05`, `Строительство, ремонт, реконструкция и&nbsp;эксплуатация зданий, дорог и&nbsp;инженерных сооружений`).--blue


	// end sAgreement
