mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		.container
			p <strong>Головной офис в г. Москва: </strong>
				| 127566, Москва, Алтуфьевское ш. д. 48, корпус 1, этаж 7
			p <strong>тел.: </strong>
				|  <a href="tel:8495971-3-971">8(495)971-3-971</a>
			p <strong>E-mail: </strong>
				|  <a href="mailto:9713971@mail.ru">9713971@mail.ru</a>
			blockquote <strong>*Внимание: </strong>Если Вы не смогли дозвониться, напишите на адрес эл. почты, мы обязательно перезвоним!
			p <strong>Время работы офиса:</strong> ПН-ПТ с 9:30 до 19:00<br><br>
			p <strong>Схема проезда:</strong> <br>
				| При необходимости наши специалисты приедут в любое удобное для Вас место.
			//- <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A91ece438b92f0737cc3bc0365a94303c8a4bd223d727ddc2a8693ccf79b26864&amp;source=constructor" height="480" frameborder="0"></iframe>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71609.5647864093!2d37.53776366195184!3d55.883502919786274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53713f979d8ab%3A0x5dceb3b0f131d39b!2z0JDQu9GC0YPRhNGM0LXQstGB0LrQvtC1INGILiwgNDgg0LrQvtGA0L_Rg9GBIDEsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjc1NjY!5e0!3m2!1sru!2sua!4v1578342975210!5m2!1sru!2sua" height="480" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			p <strong>Банковские реквизиты:</strong><br>
				|ООО «С-Проджект» <br> ИНН 7724703875, КПП 772401001&nbsp;р/с 40702810238060054629&nbsp;в ОАО СБЕРБАНК РОССИИ Г. МОСКВА, к/с 30101810400000000225, БИК 044525225, ОГРН 1097746202619, тел.: 8(495)971-3-971
			h3 Обратная связь
			+form-wrap
				+e.inner
					.row
						.col-lg-4
							+input(null,'text','Ф. И. О.:')
						
						.col-lg-4
							+input(null,'tel','телефон')
						
						.col-lg-4
							+input(null,'email','Email')
					+input(null,'textarea','Сообщение:')
					+e.INPUT.btn(type="submit" value="отправить")


	// end s-contact