mixin s-main-blog()
	// start s-blog-main
	+b.SECTION.s-main-blog.section#s-blog&attributes(attributes)
		.container
			.row
				+blog-item("1","12.11.2019","ППР на монтаж оборудования. Необходимость разработки")
				+blog-item("2","01.11.2019","Стоимость разработки ППР в строительстве")
			.row
				+blog-item("1","12.11.2019","ППР на монтаж оборудования. Необходимость разработки")
				+blog-item("2","01.11.2019","Стоимость разработки ППР в строительстве")
			.row
				+blog-item("1","12.11.2019","ППР на монтаж оборудования. Необходимость разработки")
				+blog-item("2","01.11.2019","Стоимость разработки ППР в строительстве")
			.row
				+blog-item("1","12.11.2019","ППР на монтаж оборудования. Необходимость разработки")
				+blog-item("2","01.11.2019","Стоимость разработки ППР в строительстве")
			+pugin()

	// end s-main-blog