mixin allcss() 
	//- link(rel="stylesheet", href="libs/magnificPopup/magnific-popup.css")
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	//- link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="libs/animate.css/animate.min.css")
	link(rel="stylesheet", href="css/main.min.css")
	link(rel="stylesheet", href="css/main-custom.min.css")
	link(rel="stylesheet", href="css/style.basic.css")
	link(rel="stylesheet", href="css/style-underline.css")

	style.
			@font-face {
						font-family: 'aslsicons2';
						src: url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.eot');
						src: url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.eot?#iefix') format('embedded-opentype'),
							 url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.woff2') format('woff2'),
							 url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.woff') format('woff'),
							 url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.ttf') format('truetype'),
							 url('https://orgdoc.ru/wp-content/plugins/ajax-search-lite/css/fonts/icons2.svg#icons') format('svg');
						font-weight: normal;
						font-style: normal;
					}
					div[id*='ajaxsearchlitesettings'].searchsettings .asl_option_inner label {
						font-size: 0px !important;
						color: rgba(0, 0, 0, 0);
					}
					div[id*='ajaxsearchlitesettings'].searchsettings .asl_option_inner label:after {
						font-size: 11px !important;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
					}
					div[id*='ajaxsearchlite'].wpdreams_asl_container {
						width: 100%;
						margin: 0px 0px 0px 0px;
					}
					div[id*='ajaxsearchliteres'].wpdreams_asl_results div.resdrg span.highlighted {
						font-weight: bold;
						color: rgba(217, 49, 43, 1);
						background-color: rgba(238, 238, 238, 1);
					}
					div[id*='ajaxsearchliteres'].wpdreams_asl_results .results div.asl_image {
						width: 70px;
						height: 70px;
						background-size: cover;
						background-repeat: no-repeat;
					}
					div.asl_r .results {
						max-height: none;
					}
				
						div.asl_r.asl_w.vertical .results .item::after {
							display: block;
							position: absolute;
							bottom: 0;
							content: '';
							height: 1px;
							width: 100%;
							background: #D8D8D8;
						}
						div.asl_r.asl_w.vertical .results .item.asl_last_item::after {
							display: none;
						}
			div.pdfemb-wantmobile-fsarea {
				position: relative;
				width: 95% !important;
				margin: 20% auto 0 auto;
				padding: 10px;
				height: 20%;
				max-height: 40px !important;
				-webkit-border-radius: 10px !important;
				-moz-border-radius: 10px !important;
				border-radius: 10px !important;
				border: 1px solid #9ec856 !important;
				background-color: #9ec856 !important;
				-webkit-box-shadow: #b3b3b373 0px 0px 8px !important;
				-moz-box-shadow: #b3b3b373 0px 0px 8px !important;
				box-shadow: #b3b3b373 0px 0px 8px !important;
				color: #f1f0f0 !important;
				letter-spacing: 0px !important;
				font-size: 16px !important;
				line-height: 100% !important;
				font-family: "Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
				font-weight: 400 !important;
		}
		button.pdfemb-prev {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		button.pdfemb-next {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		button.pdfemb-zoomout {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		button.pdfemb-zoomin {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		button.pdfemb-download {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		button.pdfemb-fs {
				padding: 1px 10px !important;
				border-radius: 10px !important;
		}
		div.pdfemb-toolbar div {
				font-size: 14px !important;
				color: white !important;
				font-family: "Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
				font-weight: 400 !important;
		}
		.pdfemb-toolbar.pdfemb-toolbar-hover.pdfemb-toolbar-bottom {
				display: block !important;
				top: 0px !important;
				bottom: auto !important;
		}
		div.pdfemb-viewer {
				border: 1px solid #e6e6e6 !important;
				border-radius: 10px !important;
		}
		div.pdfemb-toolbar {
				padding: 10px !important;
				background-color: #9ec856 !important;
				color: #fff !important;
		}
		.rll-youtube-player {
				position: absolute !important;
		}
		.wpdreams_asl_container {
				border: 1px solid #9ec856 !important;
				border-radius: 10px !important;
				box-shadow: none !important;
				padding: 10px 0 !important;
		}
		button.icon-open {
				background-color: #edf6fb;
				border-top: 2px solid #9ec856;
				color: #9ec856;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
		}
		button.icon-close {
				background-color: #edf6fb;
				border-top: 2px solid #9ec856;
				color: #9ec856;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
		}
		ul.page-list.listclass_current {
				margin-top: 15px;
		}
		.s-accordion .accordion-item {
				background-image: linear-gradient(to bottom,#eff7fb 56px 0,#ffffff 40%);
		}
		.s-accordion .accordion-item {
				border: 1px solid #edf6fb;
		}
		.tab-content>.active {
				font-family: 'Roboto Slab' !important;
		}
		body > div.main-wrapper > div.header-block > div > div.header-block__center > div > div.col-auto.d-none.d-lg-block {
				display: none !important;
		}
		.h5, .s-advantages__col:nth-child(3) p, .top-line__tel, h5 {
				font-size: 1.1rem;
		}
		body > div.main-wrapper > div.section-border-bottom > div > div > div.col-lg-8 > div > div.col-auto.d-none.d-lg-block {
				margin-bottom: 15px;
		}
		button.bg-orange-button {
				border-radius: 6px;
				display: inline-block;
				font-weight: bold;
				text-decoration: none;
				text-transform: none;
				letter-spacing: normal;
				background-image: linear-gradient(to right,#edf6fb 0,#edf6fb 100%);
				color: #9ec856;
				box-shadow: none !important;
				padding: 5px;
				border: none;
				margin-left: -27px;
				text-shadow: none;
		}
		button.bg-orange-button:hover, button.bg-orange-button:focus {
				border-radius: 6px;
				display: inline-block;
				font-weight: bold;
				text-decoration: none;
				text-transform: none;
				letter-spacing: normal;
				background-image: linear-gradient(to right,#edf6fb 0,#edf6fb 100%);
				color: #9ec856;
				box-shadow: none !important;
				padding: 5px;
				border: none;
				margin-left: -27px;
				text-shadow: none;
		}
		input.wpcf7-form-control.wpcf7-text.form-wrap__input.form-control {
				width: 100%;
				border: 1px solid #9ec856;
				padding: 10px;
				border-radius: 10px;
				margin-top: 10px;
		}
		.top-line__logo-title {
				font-size: 1.2rem;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div:nth-child(5) {
				display: none;
		}
		.top-line__logo a {
				max-width: inherit;
		}
		.top-line__logo-text {
				font-size: .75rem;
		}
		.top-line addr {
				font-size: .75rem;
		}
		.top-nav a {
				padding: .33333rem .99rem;
		}
			.top-line__logo-text {
				margin-left: 0.78rem;
				padding-left: 0.78rem;
		}
		div[id*='ajaxsearchlite'].wpdreams_asl_container {
				border: 1px solid #9ec856 !important;
				border-radius: 10px !important;
				box-shadow: none;
				padding: 10px 0;
		}
		div#ajaxsearchlite1 {
				border: 1px solid #9ec856 !important;
				border-radius: 10px !important;
				box-shadow: none;
				padding: 10px 0;
		}
		div#ajaxsearchlite2 {
				border: 1px solid #9ec856 !important;
				border-radius: 10px !important;
				box-shadow: none;
				padding: 10px 0;
		}
		div#ajaxsearchlite3 {
				border: 1px solid #9ec856 !important;
				border-radius: 10px !important;
				box-shadow: none;
				padding: 10px 0;
		}
		.top-line__cont.col-auto {
				text-align: right;
				padding-right: 0;
		}
		.top-line__logo {
				display: flex;
		}
		.top-line__logo-text {
				width: 100%;
		}
		div.asl_w .probox .proloading, div.asl_w .probox .proclose, div.asl_w .probox .promagnifier, div.asl_w .probox .prosettings {
				width: 18px;
				height: 28px;
		}
		div.asl_m .probox .proclose svg {
				background: #9ec856;
		}
		div.asl_w .probox .promagnifier .innericon svg {
				fill: #fff;
		}
		.top-line__logo-text {
				margin-top: auto;
				margin-bottom: auto;
		}

		.header-block__center-inner {
				left: 45%;
				top: 45%;
		}
		.header-block__center .lg {

		}
		body > div.main-wrapper > div.header-block > div > div.header-block__center > div > div.col-auto.d-none.d-lg-block > a {
				padding-left: 5px;
				padding-right: 5px;
		}
		#s-about > div > div.row > div > div > div > a {
				background-color: #9ec856;
				color: #fff;
				text-align: center !important;
				border-radius: 10px;
				padding: 5px;
		}
		#s-about > div > div.row > div:nth-child(4) > div > div {
				text-align: center;
		}
		#s-about > div > div.row > div:nth-child(4) > div > div > a > svg {
				display: none !important;
		}
		#rmjs-1 > ul > li {
				margin-bottom: 4px !important;
		}

		#s-inner-work > div > div > .s-menu-right__need-project::before {
				width: 100%;
				background-image: -webkit-linear-gradient(30deg,#52a7d82b 50%,#9ec85657 50%,#9ec85638 100%);
				height: 100%;
				border-radius: .66667rem;
		}

		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto {
				margin: 0;
				padding: 0;
		}

		.dropbtn {
				background-color: #f1f0f0;
				color: white;
				font-size: 16px;
				border-radius: 10px;
				border: none;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 280px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 11;
		}

		.dropdown-content a {
			color: black;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {background-color: #ddd;}

		.dropdown:hover .dropdown-content {display: block;}

		.dropdown:hover .dropbtn {
				background-color: #f1f0f0;
				border-bottom: none !important;
				text-decoration: none !important;
		}
		button.dropbtn {
				padding-right: 27px;
				padding-left: 5px;
		}

		.dropdown::after {
				content: '';
				position: absolute;
				top: 50%;
				bottom: auto;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				right: .3rem;
				height: 0;
				width: 0;
				border-left: .5rem solid transparent;
				border-right: .5rem solid transparent;
				border-top: .5rem solid #9ec856;
				-webkit-transition: .36s;
				-o-transition: .36s;
				transition: .36s;
				cursor: pointer;
		}

		div.dropdown > div > li {
				text-align: left;
				list-style: none;
				font-size: 13px;
				padding: 5px 15px;
				border-bottom: 1px solid #e5e5e5;
				line-height: 1.1;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto {
				background-color: #f1f0f0;
				border-radius: 10px;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto > div.d-none.d-lg-block {
				text-align: center !important;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto > div.d-none.d-lg-block > a {
				border: none !important;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto {
				background-color: #f1f0f0;
				border-radius: 10px;
				border-top: 2px solid #f1f0f0;
				border-bottom: 2px solid #f1f0f0;
		}

		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.col > div > div:nth-child(2) {
				
		}
		div#modal-call-2 {
				background-image: url(https://xn----7sbaae8ax5amabciw.xn--p1ai/wp-content/uploads/2020/10/form-img-1.png);
				background-position: center right;
				background-repeat: no-repeat;
				background-size: 44% auto;
				background-color: #edf6fb;
		}
		#modal-call-2 > div {
				float: left;
				background-color: #fff;
				border-radius: 20px 20px 0 0;
				box-shadow: 0 0 20px #cce1af87;
				margin-left: 10px;
		}
		#modal-call-2 > div > div.col-auto.d-none.d-sm-block.align-self-end {
				display: none !important;
		}
		input.form-wrap__btn {
				min-width: 100%;
		}
		.s-accordion .accordion-item {
				padding: 1.1rem;
		}
		.entry-content img, .s-inner-work img {
				/* width: 100% !important; */
				/* min-width: 100% !important; */
				/* max-width: 100% !important; */
		}
		.wp-block-image .aligncenter {
				/* width: 100% !important; */
				/* min-width: 100% !important; */
				/* max-width: 100% !important; */
		}
		body > div.main-wrapper > div.section-border-bottom > div > div > div.col-lg-8 > div > div.s-menu-right__need-project::before {
				background-image: -webkit-linear-gradient(30deg,#52a7d82b 50%,#9ec85657 50%,#9ec85638 100%);
		}
		input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
				width: 100%;
				border: 1px solid #9ec856;
				padding: 10px;
				border-radius: 10px;
				margin-top: 10px;
		}
		select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
				width: 100%;
				border: 1px solid #9ec856;
				padding: 10px;
				border-radius: 10px;
				margin-top: 10px;
		}
		form > div > div.page-head__title > h1:before {
				top: 1rem;
		}
		form > div > div.page-head__title > h1:after {
				top: 1rem;
		}
		div.warn.fadeInTop > div > h1:before {
				top: 1rem;
		}
		div.warn.fadeInTop > div > h1:after {
				top: 1rem;
		}
		.wpsm_nav-tabs > li:after {
				display: none;
		}
		#tab_container_3443 .wpsm_nav {
				padding-left: 0;
		}
		.wpsm_nav-tabs > li.active > a, .wpsm_nav-tabs > li.active > a:hover, .wpsm_nav-tabs > li.active > a:focus {
				color: #ffffff !important;
				background-color: #9ec856 !important;
				border: 1px solid #9ec856 !important;
		}
		.wpsm_nav-tabs > li > a {
				font-family: Roboto Slab !important;
		}
		div#tab-content_3443 {
				min-height: 451px;
		}
		.searchandfilter ul > li:after {
				display: none !important;
			}
		.searchandfilter ul {
				padding-left: 0 !important;
			}
		.searchandfilter ul > li > ul > li > label > input[type=radio] {

		}
		.searchandfilter label {
				padding: 5px 10px;
				border-radius: 10px;
				width: min-content;
				display: flex;
				vertical-align: middle;
				min-width: 241px;
				margin-bottom: 0;
		}
		.searchandfilter label:hover {
				background-color: #9ec856;
				cursor: pointer;
		}
		.searchandfilter ul > li > ul > li > label > input[type=radio]:checked {
				background-color: #9ec856;
				cursor: pointer;
		}
		body > div.main-wrapper > div.page-head > div > div > div > form > div > ul > li:nth-child(1) > ul {
				display: inline-table;
		}
		body > div.main-wrapper > div.page-head > div > div > div > form {
				background-color: #f1f0f0;
				padding: 5px;
				border-radius: 10px;
				background: linear-gradient(180deg, #f1f0f0, #fff);
		}
		body > div.main-wrapper > div.page-head > div > div > div > form > div > ul > li:nth-child(2) > input[type=submit]:nth-child(2) {
				background-color: #9ec856;
				background-image: linear-gradient(to right,#548e46 0,#9ec856 100%);
				color: #fff;
				font-weight: 700;
				background-size: 200%;
				background-position: center center;
				transition: .36s;
				position: relative;
				overflow: hidden;
				z-index: 2;
				height: 100%;
				border: none;
				border-radius: 10px;
				padding: 0px 20px;
		}
		div#mmp-gmap1 {
				border-radius: 10px;
		}
		.statsbar {
				display: flex;
				background: linear-gradient(180deg, #f1f0f0, #fff);
				padding: 25px;
				border-radius: 10px;
				margin-bottom: 20px;
				margin-top: 10px;
		}
		#myTab_3563 {
				padding-left: 0;
		}
		/* подсказка */
		div.stats > div > div > div {
				min-width: 25%;
				max-width: 100%;
		}
		.stat-number {
				font-size: 2.25rem;
				color: #66ab18;
				font-weight: bold;
		}
		/* задаем относительное позиционирование контейнеру */
		.block{position:relative;}
		/* Оформление скрытого элемента по умолчанию */ 
		.hidden {
				display: none;
				position: absolute;
				bottom: 130%;
				left: 0px;
				background-color: #fff;
				color: #66ab18;
				padding: 5px;
				text-align: center;
				-moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
				-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
				box-shadow: 0px 0px 11px #72ae2475;
				font-size: 20px;
				max-width: 350px;
				min-width: 300px;
		}
		/* Дополнительное оформление скрытого элемента(необязательно) */
		.hover + .hidden:before
		{content: " ";
		position: absolute;
		top: 98%;
		left: 10%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid #fff;
		border-color: #fff transparent transparent transparent;
		z-index: 2;}
		/* Дополнительное оформление скрытого элемента(необязательно) */
		.hover + .hidden:after
		{content: " ";
		position: absolute;
		top: 100%;
		left: 10%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid #fff;
		border-color: rgba(0,0,0,.16) transparent transparent transparent;
		z-index: 1;}
		/* Появление скрытого элемента при наведении */
		.hover:hover + .hidden{display: block;}
		/* конец подсказки */

		.d-lg-none.mob {
				display: none;
		}


		@media (max-width: 768px) {
		.d-lg-none.pc {
				display: none;
		}
		.d-lg-none.mob {
				display: block;
				margin-left: -20px;
		}
		.pdfemb-toolbar-fixed.pdfemb-toolbar-bottom > div {
				display: none;
		}
		div.pdfemb-toolbar.pdfemb-toolbar-hover.pdfemb-toolbar-bottom > div {
				display: none;
		}
		body > div.main-wrapper > div.section-border-bottom > div > div > div.col-lg-8 > div > div > div > div > div.col-auto.d-none.d-lg-block {
				display: block !important;
		}
		#s-advantages > div > div.row > div > div > div.col-auto.d-none.d-lg-block {
				display: block !important;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto > div.d-lg-none > a {
				margin-left: -15px;
				font-size: 0.9rem;
		}
		.top-line__logo-title {
				font-size: 0.9rem;
		}
		.h5, .s-advantages__col:nth-child(3) p, .top-line__tel, h5 {
				font-size: 0.9rem;
		}
		.toggle-menu-mobile.toggle-menu-mobile--js {
				margin-top: -5px;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div:nth-child(5) {
				display: block;
		}
		body > div.main-wrapper > div.section-border-bottom > div > div > div.col-lg-8 > div > div.wp-block-contact-form-7-contact-form-selector {
				display: none;
		}
		.dropdown:hover .dropdown-content {
				right: 0;
		}
		body > div.main-wrapper > header > div.top-line.block-with-lazy > div > div > div.top-line__cont.col-auto {
				background-color: #ffffff00;
				border-top: 2px solid #ffffff00;
				border-bottom: 2px solid #ffffff00;
				text-align: center;
		}
		.dropbtn {
				background-color: #ffffff00;
				border: none;
		}
		div.stats > div > div > div {
				min-width: 50%;
				max-width: 100%;
		}
		.statsbar {
				display: block;
		}
		body > div.main-wrapper > div.page-head > div > div > div > form > div > ul {
				display: contents !important;
		}
		body > div.main-wrapper > div.page-head > div > div > div > form > div > ul > li:nth-child(2) {
				width: 100% !important;
		}
		body > div.main-wrapper > div.page-head > div > div > div > form > div > ul > li:nth-child(2) > input[type=submit]:nth-child(2) {
				background-color: #9ec856;
				background-image: linear-gradient(to right,#548e46 0,#9ec856 100%);
				width: 100% !important;
				padding: 10px;
		}
		}
	
mixin allcjs()
	//- link(rel="stylesheet", href="fonts/fontello/css/fontello.css")
	script(src="js/lazy.js")
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/readmore-js/readmore.min.js")
	// полифил для picture
	script(src="libs/picturefill/picturefill.min.js")
	// полифил для object-fit
	script(src="libs/object-fit-images/ofi.min.js")
	// modal libs
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	script(src="libs/swiper/js/swiper.min.js")
	script(src="libs/slick-carousel/slick/slick.min.js")
	// /slider libs
	// for svg libs
	script(src="libs/svg4everybody/svg4everybody.min.js")
	// /for svg libs
	script(src="libs/inputmask/jquery.inputmask.min.js")
	script(src="libs/wowjs/wow.min.js")
	script(src="libs/hc-sticky/hc-sticky.js")
	script(src="libs/typed.js/lib/typed.min.js")
	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js") 
	
	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs 
	//- / mask for  input  libs

	//- script(src="js/scripts.min.js")
	//- script(src="libs/magnificPopup/jquery.magnific-popup.min.js")

