mixin sGetPrice(title, input, btn)
	// start sGetPrice
	+b.SECTION.sGetPrice.section#sGetPrice&attributes(attributes)
		.container
			+form-wrap.white-panel
				+e.title!= title
				.row
					.col-md
						.search-form
							+input(`${input}`)
								+icon('search')
					.col-lg.col-xl-auto
						button.btn-green!= btn
				//- small Найдено результатов:
				//- +b.mobile-result
				//- 	+e.title ППР для...
				//- 	+e.name электромонтажных работ
				//- 	+e.price от 15 000 &#8381;
				//- 	+e.btn.btn.btn-outline-blue.BUTTON Заказать ППР
				//- 	+e.show-more
				//- 		+icon('load')
				//- 		a(href='#') Показать больше
	// end sGetPrice