mixin sCalculator(mainPgae)
	// start sCalculator
	+b.SECTION.sCalculator.section#sCalculator&attributes(attributes)
		.container
			mixin head(title, back)
				+e.head
					+e.head-row.row
						.col
							h2!= title
						if back
							.col-auto
								+e.btn-prev.btn(href="#")
									+icon('arrow-left')
									| назад
			+e.wrap
				if mainPgae
					+head('Какая услуга вам нужна?')
					+e.body
						+e.row.row
							mixin item(i, text)
								+e.col.col-6.col-sm-4.col-md-3.col-lg-auto
									+in-c('radio', '', 'type', false)
										+e.img-wrap
											.img-wrap-center
												+img(`sCalculator-img-${i}.jpg`, 'bg')
										p!= text
							+item(1, 'Разработка ППР')
							+item(2, 'Разработка ПОДД')
							+item(3, 'Разработка ПОС')
							+item(4, 'Разработка ППРк')
							+item(5, 'Разработка транспортной схемы')
							+item(6, 'Оформление ордера ОАТИ')
							+item(7, 'Проектирование дорог')
							+item(8, 'Разработка ПОР')
							+item(9, 'Проектирование АСУДД')
						+e.next-btn.btn(href="#")
							| ДАЛЕЕ
							+icon('arrow-right')
				else
					block

	// end sCalculator