mixin s-markups()
	// start s-markups
	+b.s-markups.section#s-markups&attributes(attributes)
		.container
			.row.roww
				mixin item(i, p)
					+e.col.col-xl-4.col-sm-6
						+e.item.bg-wrap(href="#")
							+pic(`markups-${i}`, 'bg')(class="picture-bg")
							+e.title!= p

				+item(1,`Разметка дорог`)
				+item(2,`Разметка парковок`)
				+item(3,`Разметка складов`)
				+item(4,`Временная разметка дорог`)
				+item(5,`Разметка велодорожек`)
				+item(6,`Разметка коттеджных посёлков`)
				+item(7,`Разметка спортивных объектов`)
				+item(8,`Разметка придомовых территорий`)
				+item(9,`Разметка автокафе и&nbsp;АЗС автодромов`)
				+item(10,`Разметка аэродромов`)
				+item(11,`Разметка площадки для пожарной техники`)
				+item(12,`Демаркировка Удаление разметки`)
	// end s-markups